[2018-02-13 14:34] AkubaD opened #1 "Risk boxes mislabeled"
This used to be configured for eRegistries
Feedback box should be labeled Risks related to obstetric history
risksANCMED box should be labeled Risks related to medical condition
This stage with UID iXDSolqmauJ which shows up as a risk box should be labelled Risks related to clinical examination

[2018-02-13 14:35] AkubaD commented on #1
Also, the boxes should not show if there are no risks. Currently Feedback and risksANCMED  show with the text 'no feedback exist'

[2018-02-13 14:39] AkubaD opened #2 "Hidden stages for risks and managements now showing"
This used to be configured for eRegistries
The risks and managements stages which used to be hidden are now available in the options for adding a stage. They should not be available for a user to add an instance of those stages.
They are:
PPCRisks
NNC Risk
ANCRisks
ANCManagements
PPCManagements
NBCManagements

[2018-02-13 14:41] AkubaD opened #3 "Landing page shows list of all clients without search"
This used to be configured for eRegistries
Landing page should not show all clients in the selected org unit.
Should force search.
Search should be limited to 5 results. If more than 5 results, should ask for more search parameters
Should not be able to register without searching

[2018-02-13 14:45] AkubaD opened #4 "Coupling of Booking and subsequent visit stages"
This used to be configured for eRegistries
ANC Booking and ANC subsequent visit used to be coupled so that ANC booking would be the first instance of those 2 stages created, And once a instance of ANC booking exists, then an instance of ANC subsequent visit could be created.
Should couple
1) ANC Booking intervention with ANC subsequent visit -intervention
2) ANC Booking control with ANC subsequent

[2018-02-13 15:43] AkubaD opened #5 "Display of timeline data entry - eReg configuration"
This used to be configured for eRegistries
Timeline data entry had 2 levels - events of eg ANC visit stage, then when you went back, you saw all the program stages laid out. Now, clicking back takes you to the search page without the intermediate layout of all program stages (not events)

[2018-02-13 16:49] iambodo opened #6 "can only access eRegistry through superuser role"
this is an urgent error as it is currently restricting eRegistries access to superusers.
Ive cleared cache and checked that its the same Org unit and user role has access to programs (they had access prior to 2.29 too) so Id expect its a new permission.

I can access the eregistries app through superuser, but not through those with the "Tracker Data Entry" user role.

I have added the See Eregistr

[2018-02-13 16:56] AkubaD opened #7 "New: Implement age value type as in Tracker"
Earlier, before my browser switched to eRegistry fork, I was able to use the Age data value type and it was great! You have the option of entering an age in years with months and days (optional) and it generates the birth date. We need this data value type for Bangladesh since they usually don't know the exact birth date.
Could we have this implemented in the eRegistry fork/app?

[2018-02-13 17:08] AkubaD opened #8 "Cannot see any events in MCH or create any events in any program"
I found a previously entered woman. When I opened her record in the MCH program, there were no events, or any way to create events. It just had 'Main menu' and nothing else. There are no buttons for creating a Referral, Creating a new event, etc.
This woman happened to be registered in 2 other programs- Client Register, and Old_Pregnancy Register. For both of those programs, you can see events tha

[2018-02-13 17:15] AkubaD commented on #8
Also, I was looking at this record as a super user. So it should not be a permissions issue...

[2018-02-14 10:09] zepto5 commented on #3
Are you sure this is in the e-registry app?
This sounds like the tracker-capture app.
If not, could you provide a screenshot?

[2018-02-14 11:11] #3 closed

[2018-02-14 11:29] AkubaD opened #9 "Search gives list of all clients and does not restrict to limit of max of 5 results"
This used to be configured for eRegistries:
Search using village = Bakra returns over 50 results. We previously limited search results to max of 5 results. Anything above that would give request to enter more parameters to limit the search

[2018-02-14 11:45] AkubaD opened #10 "Unable to access client profile in MCH program (only)"
there is no link to to the client profile in the MCH program. It only has the option to close the pregnancy file (complete enrollment/unenroll from the program). This seems to be unique to the MCH program. I am able to see and edit a client profile in the 2 other programs this client was already registered in.
FYI: I was logged in as super user.
https://bd-eregistry.dhis2.org/dhis/api/apps/E-Regis

[2018-02-14 11:59] Bekkalizer commented on #7
Adding standard tracker functionality in tracker is manual merge work, including this age data type.

[2018-02-14 12:15] zepto5 commented on #9
In 2.29, it is possible to configure this for each program.
Go to Maintenance app, then programs and select a program.
Set "Maximum number of tracked entity instances to return in search" to 5.

I think this will only work for non-superusers. For superuser, I think a search will return all matches.

[2018-02-14 12:23] AkubaD commented on #9
Thanks for the directions. I followed them and set to limit of 5 for MCH program. For initial search, it briefly gave a pop up saying results were above the limit, but then it gave the full over 50 results list a second later. All subsequent searches gave the full results list without the brief appearance of the pop-up

[2018-02-14 12:29] AkubaD opened #11 "Union name attribute in search results sometimes shows as UID"
In the search results list, one of the attributes displayed is Union name. The list is custom drop-down which pulls from the org unit hierarchy for our system.
In the results list, currently a few of the clients returned in the list have UIDs instead of names for Union name. In results list for Village=Bakra, about 25% have UIDs instead of names.
There does not seem to be a pattern that I can see

[2018-02-14 12:34] zepto5 commented on #9
What user are you using?

[2018-02-14 12:55] AkubaD commented on #9
admin user. Sorry, you did say it wont work for non-superusers, right? But currently, only superusers have any program access, so I can't test with non-supersusers. Once non-superusers have access, I will test and give feedback. Can you reopen this ticket until then?

[2018-02-14 13:06] AkubaD commented on #1
Actually, this may have been in Tracker and not eRegistry, I cannot verify with eRegistry right now cos the MCH program is not working in eRegistry app

[2018-02-14 13:19] AkubaD opened #12 "FWA Name attribute shows username instead of name"
This used to be configured for eRegistry.
The FWA name attribute (UID=xFSghu1nCGg) is supposed to pull from the system's users with role FWA and display them by name in a drop down. Now the drop down has the usernames of the users instead of their names.
There is another issue of which users are being pulled. I will put that in another ticket

[2018-02-14 15:40] zepto5 commented on #9
Yes.
So for superusers (admin), searching will return all found clients.

For any non-superuser: Returns maximum 5 clients. If more clients is found, user will get a pop-up message requesting more parameters.

[2018-02-14 15:59] zepto5 commented on #8
MCH program, Main menu:
I just updated the e-registry-app. Main menu should now show program stages.
It may be more to here. Please test and see if it works like expected.

[2018-02-14 16:02] zepto5 commented on #2
I guess this also was in the tracker-capture app and not the e-registry?
If not, could you please provide a link and a screenshot?

[2018-02-14 16:03] zepto5 commented on #1
Please try this now. I have updated the eRegistry app

[2018-02-15 10:06] AkubaD opened #13 "Option sets and Yes/no data elements not displaying"
Option sets are positioned strangely, and do not show the options
Yes/No data elements don't show any buttons to check off
Yes only data elements work OK.
See attached file
[option sets and YesNo data elements.docx](https://github.com/HRHR-project/e-registry-app/files/1727146/option.sets.and.YesNo.data.elements.docx)

[2018-02-15 10:07] AkubaD commented on #2
This was tracker-capture not eRegistry. Closing the issue

[2018-02-15 10:07] #2 closed

[2018-02-15 12:22] AkubaD opened #14 "Description/i-buttons needed for data element groups"
We need i-buttons for 2 data element groups recreated since the v29 upgrade. In regular data elements, the text goes in the ‘Description’ field, which data element groups don’t have. So I think previously Markus hard coded this in.

Data element group name | UID | i-button text
-- | -- | --
Pregnancy and delivery complications | z2OCjflFLxa | Complications that occured during this particular   pre

[2018-02-15 14:05] AkubaD opened #16 "No warning given in edit data element or data element groups if you don't save"
Previously if you made an edit in a data element or data element group, and you clicked to go back to the list of data elements or data element groups, you would get a warning about if you would like to go back without saving your changes. This no longer happens. It just takes you back and does not save.
I recognize that this is in tracker and not eRegistry, but this issue did not exist in our pre

[2018-02-15 14:11] AkubaD opened #17 "cache cleaner app does not seem to work"
I made changes to names and positions of data elements and data element groups. Clearing cache using the DHIS2 Browser clear cache app did not show the changes. I had to create a new incognito window to see the changes. Previously, using the clear cache app would have reflected the changes

[2018-02-15 15:28] lukasewvd commented on #14
Fixed with this commit: https://github.com/HRHR-project/e-registry-app/commit/e40277b19c3d4e59e7e52ad703751e91892dce3d

[2018-02-15 15:28] #14 closed

[2018-02-15 15:30] lukasewvd commented on #7
Implemented with this commit: https://github.com/HRHR-project/e-registry-app/commit/91be8805416f750e7a9474e2b2f044056aaccc50

[2018-02-15 15:36] lukasewvd commented on #13
Fixed with this commit: https://github.com/HRHR-project/e-registry-app/commit/2068304d9614da824c750f4692c4733752a534ff

[2018-02-15 15:36] #13 closed

[2018-02-15 15:45] lukasewvd commented on #17
Fixed by @zepto5  now, will be implemented with next deploy.

[2018-02-15 15:45] #17 closed

[2018-02-15 16:40] AkubaD opened #18 "Designations sectionnow showing for data entry"
This is probably a Markus issue:
The Designations section within the ANC booking visit program stage did not use to show in events for data entry. I think it is used like the ANCrisks stage for some of the ANC booking visit functionality, and so it is not supposed to show within an event for data entry

[2018-02-15 17:38] AkubaD commented on #16
Actually, this only happens for data elements groups, not data elements

[2018-02-16 15:28] iambodo opened #19 "Android compatibility -- 404 error"
I get a 404 response when I try to log in as super user (admin) through the Android application. We use a modified app, so I downloaded the generic version and used that, with same results. I was able to log in to the play.dhis2.org/demo on both applications. So I think it has something to do with the instance of 2.29 and its compatibility with Android.

[2018-02-19 09:55] AkubaD opened #20 "Description of report date of Program stage not reflecting in data entry"
This is an issue we have had before v29.
In the settings for Program stage, there is an option to specify the name of the Report date. What we have put in is not reflected in the data entry screen. It still says Report date.
Eg attached is Previous Pregnancy Stage
[Report date description not reflecting in data entry.docx](https://github.com/HRHR-project/e-registry-app/files/1736192/Report.date.de

[2018-02-19 13:30] AkubaD opened #21 "Unable to see or edit existing sections"
We previously had the Programs app separate from maintenance where you could create Sections and edit the sequence of data elements in a section.
With the new functionality put in the Maintenance app, there is a place for creating sections, but it looks like the existing sections were not ported over, and so I cannot make any edits to my existing sections. See the blank section creation window bel

[2018-02-20 11:57] #10 closed

[2018-02-20 11:58] #8 closed

[2018-02-20 12:09] AkubaD opened #22 "Question: how to get age in years from Age value type attribute"
Thanks for implementing the Age value type for the eRegistry app.
How do I get the age in years from this new value type? What rule, what variables, what syntax do I use?

[2018-02-20 12:10] #5 closed

[2018-02-20 12:42] AkubaD opened #23 "No longer have ability to order tracked entity attributes"
With the move of all functionality that used to be in the Programs app into Maintenance, the new interface does not provide ability to arrange attributes in the order you want them to be displayed in data entry view. Similar issue with data elements in program stages.

![image](https://user-images.githubusercontent.com/36447512/36424396-6f3dcba8-1643-11e8-928c-508fefab2b1e.png)

[2018-02-20 13:13] AkubaD opened #24 "System auto-generate of numerical attribute does not work"
This has never worked for our eRegistry instance. This is the uid of the attribute I056EjniPUi
This other attribute (uid dsDPcUTQ60R) is what was used for Palestine. Using that has not worked either.
In the data entry page for creating a new tracked entity, the system generated ID is required (whether you set it to be mandatory or not), but nothing is auto-generated and filled in. So the system fo

[2018-02-20 13:48] AkubaD opened #25 "Search results box distorted"
The search results box is stretched beyond the background box. Can it be made to stretch together with the search results table?

![image](https://user-images.githubusercontent.com/36447512/36427259-f6f5fcba-164c-11e8-842d-f49e1e112429.png)

[2018-02-20 14:07] AkubaD opened #26 "Does not clear data for phone number attribute after Show error"
We have Show error rules running to validate numerical attributes such as ID numbers, years of education, age at marriage.
For all these attributes, apart from Phone numbers, if there is an error, the system clears the data entry field after the show error window pops up. The only ones where this does not happen are those with Phone number value type.
The rule also doesn't always trigger as you ch

[2018-02-20 18:14] AkubaD opened #27 "Complete event generates 'Server error'"
I have observed this only in the previous pregnancy stage (uid ) which is one of the specially configured stages for eRegistry. It shows up as a pop-up window for data entry.
When I click complete, I get 'Server error, Please try again later'

![image](https://user-images.githubusercontent.com/36447512/36441200-30d1ddc6-1672-11e8-8405-3e994e2716a7.png)

[2018-02-20 18:15] AkubaD opened #28 "Complete and exit does nothing"
When I click on Complete and Exit, it stays in the data entry page and nothing happens. I tried for at least 2 program stages, same result.

![image](https://user-images.githubusercontent.com/36447512/36441290-74052d8c-1672-11e8-93b8-1e031b07bf79.png)

[2018-02-20 20:14] AkubaD opened #29 "MCH program referrals not showing"
No referrals are showing. Other rules such as risk box displays are running ok

[2018-02-21 10:15] #1 closed

[2018-02-21 12:30] Bekkalizer commented on #29
Hey, can you add some more details here on what is not showing where. And reproduction steps?

[2018-02-21 12:31] Bekkalizer commented on #24
This is not supported in e-registry apps. Would have to be ported to be supported.

[2018-02-21 12:32] Bekkalizer commented on #4
Please add UIDs, and we can couple these.

[2018-02-21 12:34] Bekkalizer commented on #21
This should work in the updated programs app. Please update the war file with the newest one.

[2018-02-21 12:38] Bekkalizer commented on #23
This is registered as a bug on the 2.29 release project: https://jira.dhis2.org/browse/RP229-24
Watch this one - and when it is fixed, update to the latest WAR build on the bangladesh server. Int he meantime it would have to be updated directly in the db.

[2018-02-21 12:41] Bekkalizer commented on #18
It is always hidden by a rule - if you want to see it you must disable or remove the rule hiding it.

[2018-02-21 12:55] AkubaD commented on #4
How do you get uids of stages in this new system in Maintenance?

[2018-02-21 13:03] AkubaD commented on #4
Used api for the uids. But that is something to be fixed - I'll put in a new issue.
1) ANC Visit Control: piRv8jtcLQV    IlSUGDq9QDc
2) PNC visit mother: w0pwmNYugKX    dqF3sxJKBls
3) Newborn care: FRSZV43y35y    fSE8JyGdsV6

[2018-02-21 14:25] AkubaD commented on #29
I have a series of rules related to selecting a data element from a data element group in the Previous pregnancy stage (uid PUZaKR0Jh2k) which then displays text in the feedback widget (Obstetric Risks box) and creating a referral event.
Here is the rule. The Display text action of the rule works, but the Create event does not. No Create event rules I have created work - no referrals are being gen

[2018-02-21 14:39] AkubaD opened #30 "Cannot enroll tracked entities in MCH program only - even as super user"
This seems to have appeared today, but may have been from yesterday or day before - I've been testing with existing tracked entities, so I did not notice until today.
Whether you try to enroll a new tracked entity, or enroll an exisiting tracked entity into the MCH program, when you click Save, nothing happens. No errors, nothing.
I have tried making most of the attributes not mandatory, and only

[2018-02-22 12:42] lukasewvd commented on #4
Should be fixed with this commit: https://github.com/HRHR-project/e-registry-app/commit/0921a198add987ea3a539ce16257ef658908cb0f. Please test!

[2018-02-22 12:42] #4 closed

[2018-02-22 12:48] iambodo commented on #30
I can verify this. I'm a superuser and assigned to the correct user group for MCH program access (view and write).  The button for "Save" on the register new TEI page for MCH program does not work. It should take you to the program splash page to enter new stages, but does **nothing**.

![image](https://user-images.githubusercontent.com/36451485/36539351-d3286bca-17d6-11e8-9155-ef7e7e9b6016.png)

[2018-02-22 12:52] iambodo opened #31 "cannot enrolling in a new program from TEI enrollment page"
There is no way to enroll in a new program from the TEI enrollment splash page (the list of available stages in a program).

Im a superuser assigned to the user groups for accessing the client register and MCH program,

I can create a tracked entity through Client Register.
![image](https://user-images.githubusercontent.com/36451485/36538961-7c7e830a-17d5-11e8-9d02-d448d87a214b.png)

But when I sw

[2018-02-22 13:13] lukasewvd commented on #25
This has already been fixed, with this commit: https://github.com/HRHR-project/e-registry-app/commit/78890f33b4fc5cf49a188c099d18765c93a02daf. The newest version was probably not deployed when you tested.

[2018-02-22 14:54] lukasewvd commented on #30
Can you do the same steps again and send us the server log from after you have pressed the "Save and continue" button?

[2018-02-22 14:58] #25 closed

[2018-02-22 15:01] iambodo commented on #30
Sure
angular.js:11655 unknown datatype:AGE
angular.js:11655 could not find variable to count: MCH_LowBirth
angular.js:11655 Variable SMS - Initial Gestaional Age was not defined.
angular.js:11655 Expression with id rule:ruleprv1120 could not be run. Original condition was: d2:count(MCH_Comp_Post_Eclampsia') >0 - Evaluation ended up as:d2:count(MCH_Comp_Post_Eclampsia') >0 - error message:SyntaxErr

[2018-02-22 15:05] lukasewvd commented on #30
Thanks, but that is **client-side** error log. **Server log** is produced by the server. @Bekkalizer can probably help you with how to obtain the log.

[2018-02-22 15:16] lukasewvd commented on #22
Hi, AGE is stored as a date. You would need to make an indicator that uses d2:yearsBetween(currentDate, birthDate).

[2018-02-22 15:37] iambodo commented on #30
I dont have access to those unfortunately. I will check with system admin in bangladesh.

[2018-02-23 12:57] zepto5 commented on #11
Fixed in commit 87aab06.

[2018-02-23 12:57] #11 closed

[2018-02-23 14:47] zepto5 commented on #31
Closing because of duplicate :https://github.com/HRHR-project/e-registry-app/issues/30

[2018-02-23 14:47] #31 closed

[2018-02-23 14:50] zepto5 commented on #30
Issue is caused because of program notifications. Server rule engine is called because of existing program notifications. The rule engine needs to be updated before program notifications can be used. A temporary work around is to delete the program notifications untill this is fixed.

[2018-02-23 15:30] zepto5 commented on #20
Fixed in commit 8e8bb79

[2018-02-23 15:30] #20 closed

[2018-02-23 15:31] zepto5 commented on #20
Fixed in commit 8e8bb79

[2018-02-23 15:33] #21 closed

[2018-02-23 15:44] zepto5 commented on #28
Caused by same error as: https://github.com/HRHR-project/e-registry-app/issues/30

[2018-02-23 15:44] #28 closed

[2018-02-23 15:44] zepto5 commented on #27
Cause by same error as: https://github.com/HRHR-project/e-registry-app/issues/30

[2018-02-23 15:44] #27 closed

[2018-02-26 10:49] #29 closed

[2018-02-26 10:51] AkubaD commented on #22
Thanks!

[2018-02-26 10:51] #22 closed

[2018-02-26 16:58] ereg-bd opened #32 "ordering program stages by time of event"
The ordering of program stages is left to right, oldest to most recent.

See here, position of the event whether it is on 2-25 or 2-26.
![image](https://user-images.githubusercontent.com/36739826/36683464-eafa986e-1b1d-11e8-8303-82958b12b463.png)

![image](https://user-images.githubusercontent.com/36739826/36683482-fb359f8a-1b1d-11e8-943b-9572a5028fc3.png)

However this only orders by date, not ti

[2018-03-01 12:24] iambodo commented on #9
this restriction also does not work for non-superusers.
can still see more than five clients in the eRegistry app.
what is the specific authority that gives access to the full list of TEI? so we can make sure our "non-SUs" do not have that permission.

[2018-03-01 13:33] zepto5 commented on #9
Make sure that the user does not have the authority ALL.
Also, try removing these authorities:
Search Tracked Entity Instances
Search Tracked Entity Instances In All Org Units

[2018-03-01 13:46] zepto5 commented on #6
Can this be closed now?

[2018-03-01 14:49] iambodo commented on #9
Our non-superusers do not have the ALL authority.
We need our non-super users to have both of these authorities:

- Search Tracked Entity Instances
- Search Tracked Entity Instances In All Org Units

Otherwise those users will not be able to search and find TEI in the e-Registry app. Especially those that were registered outside the org unit.

[2018-03-02 09:03] zepto5 commented on #9
Hey.
Could you install the latest war? I can get this working on the dhis dev instance, but not the bd-eregistry instance.

These authorities is not used any more. Searchable org units needs to be set per user. The users with the "Search tracked entity instances in all org units" should then be assigned with the root org unit. We may have to make an upgrade script for this.

[2018-03-03 18:34] iambodo opened #33 "daysBetween program rules"
This program rule is well formed but the action is not triggered in the eRegistry. The message only appears if the first date of the argument is the same as the second date of the argument. Something to do with the new date format, perhaps?

![image](https://user-images.githubusercontent.com/36451485/36937845-99784126-1f19-11e8-992d-5f63c2afbcff.png)

![image](https://user-images.githubusercontent

[2018-03-04 16:29] zepto5 commented on #24
Support for auto-generated values added in commit: 6acfe78

[2018-03-04 16:29] #24 closed

[2018-03-04 16:30] zepto5 commented on #30
Should be fixed in the newest build. Please install the latest war and test this again.

[2018-03-05 05:59] iambodo commented on #9
We have updated to latest WAR file. Could you please clarify then how maximum search results are set by user group, user role, or user? These two statements seem to conflict.

_Are you saying that "superusers (admin)" users need to be assigned to the root org unit for searching?_

**Example test:** I have reset the "tracker data capture" user role so it does not include any search tracked entity p

[2018-03-05 08:29] zepto5 commented on #9
If a user has the authority "ALL", all clients found will be returned from the search.

This is clearly a bug. I will try to reproduce this locally, and debug to see whats happening.

[2018-03-05 10:18] lukasewvd commented on #23
This has been fixed, update WAR-file if you still have this issue.

[2018-03-05 10:18] #23 closed

[2018-03-05 12:05] lukasewvd commented on #33
@iambodo can you test this again? For me this is working as intended.

[2018-03-05 12:11] lukasewvd commented on #6
Closing issue, if this is still an issue tell us and we will re-open it.

[2018-03-05 12:11] #6 closed

[2018-03-05 12:39] lukasewvd commented on #26
This is not specific for PHONE number it happens to the other tracked-entity-attributes. It happens when you type in the same field after you got the warning message.

[2018-03-05 14:03] zepto5 commented on #9
For TWV1:
Data capture org units:
Matlab North
Matlab South

Search org units:
Matlab North
Matlab South

Searching will search for clients in org units defined in the users "search organisation units". If the "search org units" is the same as "data capture org unit", I guess it will return all clients, because it will be considered a local search (searching in own org units).

Could you try set t

[2018-03-05 15:00] lukasewvd commented on #26
Fixed with this commit: 19580cf.

[2018-03-05 15:00] #26 closed

[2018-03-05 15:15] iambodo commented on #9
I made the requested change and all search resutls are still showing up for FWV1

I'm not sure why highest data capture org unit needs to be a child of the highest search org units for the "maximum search results returned" feature to kick in. The max search results is set through the program, not the user, Even if a "local search" of a user's own org unit returns more than five possible clients, t

[2018-03-05 15:17] lukasewvd commented on #30
Closing issue, tell us if you still are having this issue and we will re-open it.

[2018-03-05 15:17] #30 closed

[2018-03-05 16:31] zepto5 commented on #9
The "Assign search organisation units" have some weird behaviour as it keeps reseting the search org units. I have created an issue for the User App developers.  Should work for FWV1 now, but you would need to reset the password.

"maximum search results returned":
Yes, this is set on the program. But it is only triggered when searching outside the users data capture organisation units.

If you al

[2018-03-06 12:10] Bekkalizer commented on #16
Hey @AkubaD - this is a dhis2 core issue. You can make a user and register it at jira.dhis2.org!

[2018-03-07 09:48] zepto5 commented on #32
Sort order fixed in this commit: 63c031f
Ordering by sortingDate(eventDate or dueDate) then by created.
Ordering is now:
oldest -----> newest

[2018-03-07 09:48] #32 closed

[2018-03-07 15:21] zepto5 commented on #9
Quoting Markus:
"The search org unit represents the org unit tree that the user should be able to find records in. Should be set to Bangladesh for all users. The data capture orgunit is the orgunit that the user has every access to see and capture data for"

When a users search org units = data capture org units, the search mechanism will see this as a search with no restrictions. This is because

[2018-03-07 15:21] #9 closed

[2018-03-08 08:28] lukasewvd commented on #33
Closing the issue, tell us if you are still experiencing this issue.

[2018-03-08 08:28] #33 closed

[2018-03-08 11:27] AkubaD opened #34 "Disable Search and register for all programs except Client Register program"
The workflow requested by the Research team is to have users search for and create new tracked entities only in the Client Register program (uid ZBIqxwVixn8). Any data entry for tracked entities in another program will have to be done by switching to that program (via the drop-down of available programs) while you are already in the tracked entity's record.
We would therefore like the UI of the Br

[2018-03-08 12:20] AkubaD opened #35 "Make new enrollment link into button"
The UI for enrolling an existing Tracked entity into a new program is not very intuitive. It is a faint link to the right that almost everyone misses.
Could you please Replace the 'Add new' link with a button called 'Enroll into new program'?
The text 'Selected Program' also does not seem to serve any use - it's in a box listing the enrolling clinic. Could that text be removed (if it is not too mu

[2018-03-08 12:23] Bekkalizer commented on #34
Will users have access to more than one program? You might be seeing the dropdown because you are logged in with admin.

[2018-03-08 12:55] travellingyak commented on #34
The users will have Access to both programs.   We would like them to only initially enroll in the Client register for privacy reasons.

[2018-03-08 12:57] Bekkalizer commented on #34
What we could to is hardcode that the mch program is preselected when you have more than one.

[2018-03-08 12:58] travellingyak commented on #34
actually...it would be the other way around...hardcode the Client register for enrollment.  everyone is allowed to register there, then then can add to the MCH program later.

[2018-03-08 14:07] travellingyak commented on #34
just to add that we have already made this happen in the android app

[2018-03-12 08:27] #18 closed

[2018-03-13 15:50] AkubaD opened #36 "Create data entry form freezes often"
In Maintenance/Programs/Program stages/Create data entry form, while working in 'Section', the page seemed to freeze: All these actions would do nothing:
clicking 'Save', clicking 'Cancel', clicking on 'X' to remove data elements, editing name of section - when you click on the checkbox to save your change, it reverts to the original text.

One of what caused this was changing the name of a sectio

[2018-03-13 15:55] AkubaD opened #37 "Changing name of Section does not work"
To change the name of a section, I click on the pencil edit button, make the change, and then click on the check. I was able to do this once today. I have not been able to do it again. After clicking the check, it reverts to the original text.
Once you try to make the change, that page freezes, and you cannot save, cancel or make any changes to the program stage.
See related issue #36

[2018-03-13 18:07] Bekkalizer commented on #36
Please try and get the latest 2.29 DHIS2 WAR file. If the problem still persists, report the problem in jira.dhis2.org

[2018-03-13 18:08] Bekkalizer commented on #37
Please try and get the latest 2.29 DHIS2 WAR file. If the problem still persists, report the problem in jira.dhis2.org

[2018-03-14 17:00] AkubaD opened #38 "Markus Excel file for writing rules gives Internal conflict error when updating rules"
When trying to update existing rules, Get 'Internal Conflict Error'. When I ask Monjur to delete the rule and I post the exact same rule, it posts with no issue. So it seems there isn't a problem with the rule itself (it posts when you first create it). It is when you try to update it that it gives the error. And rule cannot be deleted from UI.

[2018-03-15 07:43] AkubaD commented on #35
Hi Markus
I checked in with Mike about this and he is okay with Changing the link into an Enroll button since Palestine only uses one program and would not use this functionality anyway.
Could you let us know when this could be implemented

[2018-03-15 08:10] Bekkalizer commented on #35
Ok we can change it as requested. The change will affect the Palestine also, for everyone enrolling into the program for the second pregnancy on.

[2018-03-15 08:29] Bekkalizer commented on #38
Please from "Yes" to "Debug", and you will get a whole lot of informaiton into the cell, not only "Internal Conflict Error"

[2018-03-15 08:46] Bekkalizer commented on #37
All DHIS2 WAR files can be found here:
https://ci.dhis2.org

Here is the direct link to the latest 2.29 file:
https://ci.dhis2.org/job/dhis2-2.29/lastSuccessfulBuild/artifact/dhis-2/dhis-web/dhis-web-portal/target/dhis.war

[2018-03-15 12:22] AkubaD commented on #35
Oh yes, that's true. But Mike agreed that the link was obscure and a button would be better.

[2018-03-15 12:25] AkubaD commented on #34
Hi Markus. Is there an update on this
Do you have any other questions to be answered

[2018-03-15 12:38] AkubaD opened #39 "Follow-up: Function indicating user in Control user group"
Hi Markus and Lukas
We discussed previously about the need to write program rules with conditions based on if a user is intervention or control.
You had mentioned you could create a function that would return True if a user was control.
With 2.29, we are allocating users to control or intervention using User groups, and not user Roles as we had previously discussed.
Could you create a create a fun

[2018-03-15 12:43] AkubaD commented on #38
For this rule https://bd-eregistry.dhis2.org/dhis/dhis-web-maintenance/#/edit/programSection/programRule/rulePEx1006
Results of Debug:
Message in RulePostHelper:
{"httpStatus":"Conflict","httpStatusCode":409,"status":"ERROR","message":"One   more more errors occurred, please see full details in import   report.","response":{"responseType":"ObjectReport","uid":"rulePEx1006","klass":"org.hisp.dhis.p

[2018-03-15 12:45] AkubaD commented on #38
Note: There has been no change to the rule since it was successfully posted. I get this error from just reposting the rule. And this seems to be happening to all rules

[2018-03-15 13:10] #37 closed

[2018-03-15 13:22] AkubaD opened #40 "Description/i-button hard code for data element group"
Newborn complications. UID ET2aesZVpHo
Text: Any congenital defect, single or multiple, present at birth and are severe enough to impact an infant`s health, development and/or survival

[2018-03-15 13:35] AkubaD opened #41 "Missing 'Show details' for Program stages in Maintenance"
With the move of functions that used to be in the Programs app to Maintenance, we now can't see details of a program stage, including its UID from Maintenance. Could 'Show details' be added to the options (Edit, Sharing, Delete...) when you click on the 3 dots?

![image](https://user-images.githubusercontent.com/36447512/37466409-f10845a6-285d-11e8-9171-7f9d499e68f1.png)

[2018-03-15 14:12] AkubaD opened #42 "Report date not autopopulating for a particular stage"
Affected stage: PUZaKR0Jh2k
Report date (called Pregnancy outcome date in this stage), auto-poulate with the current date when a new instance was created. I believe it used to do this, but no longer does.
Other stages with similar configuration autopopulate, so I don't know what the issue is.
Example, compare to stage uD4lKVSbeyB

![image](https://user-images.githubusercontent.com/36447512/3746846

[2018-03-15 14:55] AkubaD commented on #18
@Bekkalizer It is currently showing and we DON'T want it to show.
I don't know what rule used to hide it. Could you provide it?

[2018-03-15 15:02] AkubaD opened #43 "Managements/Create event not showing again"
This used to work just a week ago or so- managements showing at the bottom of the sheet;
Also, entries in the Clinical risk box which are created with Create Event, listing date and gestational age. They are not showing as well
Only the risk boxes with Display Text rules are currently working

[2018-03-15 15:04] Bekkalizer commented on #43
Are you sure you did not accidentally open the tracker capture app instead of the eregistry app?

[2018-03-15 15:07] Bekkalizer commented on #18
In that case the rule that was supposed to hide it does not seem to be triggered!
Do you see the rule for hiding the program stage in the excel file and maintenance app?

[2018-03-15 15:09] AkubaD opened #44 "'High risk' flag and 'Unmanaged condition' do not show"
I used both CreateEvent with stage RefHighRisk, as well as the explicit action of Assign true to #{refertohighriskclinic}
High risk flag never shows
'Unmanaged condition' also does not show

[2018-03-15 15:10] Bekkalizer commented on #41
Please report in jira.dhis2.org <http://jira.dhis2.org/> as a improvment issue.

[2018-03-15 15:11] Bekkalizer commented on #44
Can you attach a screenshot? Did you open the e-registries app or the standard tracker?

[2018-03-15 15:16] Bekkalizer commented on #38
Ok, I need the server log to see what actually happens. The error message from the PutHelper is the one that I was hoping to get some more info from, but it only says 500 - server error.

[2018-03-15 15:18] Bekkalizer commented on #34
Lukas is looking at it now - I suggest that we preselect the client register program when that exists, but keep the list visible and changeable at the top of the screen.

[2018-03-15 15:55] AkubaD commented on #43
Nope. Its the e-registry app
https://bd-eregistry.dhis2.org/dhis/api/apps/E-Registry/index.html

[2018-03-15 15:58] AkubaD commented on #44
eRegistries app https://bd-eregistry.dhis2.org/dhis/api/apps/E-Registry/index.html
See below: risk boxes created with Display Text show, but not those with Create Event
![image](https://user-images.githubusercontent.com/36447512/37474944-d35b4b66-2871-11e8-998d-e88672303f05.png)

[2018-03-15 16:02] AkubaD commented on #38
Do you not have access to our dev instance?

[2018-03-15 19:04] Bekkalizer commented on #43
The problem turned out to be date format. The date format of the server was changed some days ago, and then the problem started. The issue that causes the behavior we see here is that the event creation for managements fails (webpack:///./scripts/dhis2.angular.services.js:2271).

[2018-03-15 19:05] Bekkalizer commented on #43
@lukasewvd, @AkubaD changed the date format back to the working(but wrong) date format tonight. She will change the date format again tomorrow morning to the non-working(but correct) date format. Can you have a look and try to find a fix?

[2018-03-15 20:28] AkubaD commented on #44
Turns out I hadn't posted the rules for those

[2018-03-15 20:28] #44 closed

[2018-03-16 08:12] AkubaD commented on #43
I have changed to the  non-working(but correct) date format dd-mm-yyyy. BUT, because of this other issue #38, I had deleted all rules to repost. But now, no rules are posting at all from the Excel sheet. So there are currently no rules in the system that use dates that generate managements/referrals.

[2018-03-16 08:19] AkubaD commented on #38
I had Monjur delete all the rules so I could repost - seemed to work before. The issue seemed to be updating existing rules and not posting new rules.
Now, all rules give the Internal server error. They are all rules that I had deleted and tried to repost. Debug gives:
{"httpStatus":"Internal   Server   Error","httpStatusCode":500,"status":"ERROR","message":"No   row with the given identifier exis

[2018-03-16 09:51] AkubaD commented on #18
@Bekkalizer There doesn't seem to be a rule for hiding that section in the Excel file that you provided. I could write a hide section rule, but what is the condition? Is it supposed to always be hidden? This is what is looks like

![image](https://user-images.githubusercontent.com/36447512/37514345-f0eec734-2907-11e8-9af4-018ee9a3274d.png)

[2018-03-16 10:46] Bekkalizer commented on #18
Yes, there was s HIDESECTION rules in the original ruleset that had the condtion set to the word true.

[2018-03-16 11:09] lukasewvd commented on #43
I have pushed a fix for this issue. I would appreciate if you could test the fix.

[2018-03-16 13:18] lukasewvd commented on #35
Requested changes have been made:
<img width="540" alt="enrollmentwidget" src="https://user-images.githubusercontent.com/6719078/37522662-e00f1dac-2924-11e8-84a3-92163d7b31b7.png">

[2018-03-16 13:18] #35 closed

[2018-03-16 13:45] AkubaD commented on #43
@Bekkalizer @lukasewvd Sorry. The notifications go to another email.
Yes! The rules are posting and they are repost ok as well. But the managements are not showing - the date format is in the non-working(but correct) date format dd-mm-yyyy

[2018-03-16 13:48] lukasewvd commented on #43
Remember that new deploy of the app has to happen before the changes are reflected in your system. 😀

[2018-03-16 13:52] lukasewvd commented on #34
I have implemented a solution based on @Bekkalizer 's comment: 1f0ee74

[2018-03-16 15:10] lukasewvd commented on #42
@Bekkalizer Correct me if I am wrong, but I think it was made like this on purpose. I see there is code that checks for the id and cleans the date (new-event-controller.js l:79-83).

[2018-03-16 15:13] lukasewvd commented on #41
Closing issue since it is not related to the e-registry-app.

[2018-03-16 15:13] #41 closed

[2018-03-16 15:18] lukasewvd commented on #40
Added description.

[2018-03-16 15:18] #40 closed

[2018-03-19 05:21] AkubaD opened #45 "Problem with stage coupling - ANC, PNC and Newborn"
DISREGARD this and read subsequent comment below

Could you please couple the PNC stages for mother and child as has been done for ANC booking and ANC visit?
Mother:
PNC Booking - w0pwmNYugKX
PNC subsequent visits - dqF3sxJKBls

Newborn
Newborn care Booking visit - FRSZV43y35y
NBC subsequent visits - fSE8JyGdsV6

[2018-03-19 05:35] AkubaD commented on #45
There seems to be a problem with all the stage couplings- ANC intervention, ANC control, PNC mother, Newborn care.
The coupling has been done (PNC subsequent visit shows both Booking and PNC visit when you look at multiple PNC entries),  but the Booking visits are showing up on their own in the menu of available stages, and you cannot create an additional stage instance (since Booking visits are n

[2018-03-19 08:41] lukasewvd commented on #45
Hi @AkubaD, the booking visits are not showing up for me in the menu. Have you cleaned you cache?
<img width="1674" alt="bookingvisit" src="https://user-images.githubusercontent.com/6719078/37585508-abf19108-2b59-11e8-840f-7419a4c65a6c.png">

[2018-03-20 10:16] AkubaD commented on #43
Hi Markus
I'm getting this internal conflict error again. I tried a couple of new rules and they created okay and when I reposted them, they posted ok. But, for rules that already existed before today, when I tried posting, I got the internal conflict error again
Debug gives:
{"httpStatus":"Conflict","httpStatusCode":409,"status":"ERROR","message":"One more more errors occurred, please see full de

[2018-03-20 11:22] AkubaD commented on #38
Hi Markus
I'm getting this internal conflict error again. I tried a couple of new rules and they created okay and when I reposted them, they posted ok. But, for rules that already existed before today, when I tried posting, I got the internal conflict error again
I've emailed the server logs for today
Debug gives:
{"httpStatus":"Conflict","httpStatusCode":409,"status":"ERROR","message":"One more m

[2018-03-20 11:22] #43 closed

[2018-03-20 11:31] AkubaD commented on #42
@lukasewvd  you're probably right since this stage is (always) recording a previous event. Thanks!
We would want the same to be done for the Control version of this stage then: uD4lKVSbeyB
Also for that stage to be configured like the intervention version (PUZaKR0Jh2k) in display and summary list

[2018-03-21 08:02] RahmanMonjur opened #46 "Increase width of popup search list"
Please increase width of the search popup window 1 inch or 2. Now, its too narrow, showed in Chromebook.

[2018-03-21 10:32] AkubaD commented on #45
Thanks @lukasewvd Looks like that was the problem. I usually use new incognito windows, so I generally don't often clear cache

[2018-03-21 10:32] #45 closed

[2018-03-22 12:59] AkubaD opened #47 "Custom-made Union name and FWA-Name drop-downs no longer show up in search fields"
This is a change since the 2.29 upgrade.
The custom-made Union name attribute that shows a dropdown of all unions, and the FWA name attribute that shows names of FWAs in the selected union, no longer works in the search page.
They work ok in the TEI registration page, as well as when editing the TEI profile.
But no longer work on the search page since the 2.29 upgrade

![image](https://user-images

[2018-03-22 13:08] AkubaD opened #48 "Bug causing created events to stay even when condition has been reversed"
Talked to @Bekkalizer about this and he identified a bug that causes it. I'm recording it here to help track it.
The issue: If you trigger a rule (eg Click Yes) that generates a management (Create event), and then you immediately Click No, the management created persists. And you have a mamangement that does not match your data
Examples in ANC visit
-Asthma
-Excessive vomiting (generates both mana

[2018-03-22 13:24] AkubaD opened #49 "Union name drop-down elongated - new in 2.29"
The union name attribute drop down showing the org units in the system currently starts at the root - Bangladesh. We only need the org units from Matlab north and South and below. So we had previously asked for the drop-down to show from the district level (Chandpur district) to save users from having to make the extra clicks.
This was implemented previously. It seems to have disappeared since the

[2018-03-22 13:44] AkubaD opened #50 "'Status' in Previous pregnancy stage and Clinical risks stage"
What is the use of the 'Status' in the Previous pregnancy stage summary and the Clinical risks box? In the managements, we see that completing them takes away the 'Unmanaged condition'. But we are not clear on the use of the status in Previous pregnancy summary or the Clinical risks box. If they have no use, could they be taken out? They would be confusing to our health workers and take up unneces

[2018-03-22 14:13] AkubaD opened #51 "Change name of feedback widget"
Could you please change the name of the feedback widget which currently displays obstetric history risks
to 'Risks related to previous pregnancy(ies)'

![image](https://user-images.githubusercontent.com/36447512/37775187-8f1b36f2-2de2-11e8-9706-54a63b35c945.png)

[2018-03-23 12:38] AkubaD opened #52 "In previous values columns, show short forms of data element names NOT form names"
Discussed with @lukasewvd
In the previous values columns, for the data elements shown, could you show their data element Short names  and not the Form names, since some Form names are very long questions?

![image](https://user-images.githubusercontent.com/36447512/37829471-629851ba-2e9f-11e8-94d8-9610d64c0028.png)

[2018-03-23 14:14] #51 closed

[2018-03-26 07:59] AkubaD opened #53 "FWA name drop-down show FWAs at Unit level, not Union level"
Fwa Name drop down should show all FWAs at the Unit level. We initially had our design to have FWAs assigned at Union level, so that was how that code was written. Could you please change to have it be FWAs at the Unit level

[2018-03-26 08:12] lukasewvd commented on #50
@Bekkalizer, could you provide a comment on this?

[2018-03-26 08:25] AkubaD opened #54 "Change of columns to display for Previous pregnancy summary table"
Can you please take out these columns currently displaying in the Previous pregnancy summary table UID PUZaKR0Jh2k
Could the 'Status' column also be hidden?
ENbZrRzZgnh   Other previous obstetric complications
z2OCjflFLxa   Pregnancy and delivery complications
ET2aesZVpHo Newborn complications

![image](https://user-images.githubusercontent.com/36447512/37894720-60034d28-30df-11e8-941a-e943af162da

[2018-03-26 10:20] AkubaD opened #55 "Bug in stage read access permissions"
Our design requires some stages to be read only for some of our users.
I have set the user permissions for this stage to be as below:
View only for metadata
View only for data capture.
This user should not be able to create a new instance of the stage. But that stage shows up in the list of options when you try to create a stage. But when you click Save to create an instance of that stage, it hang

[2018-03-26 10:35] #52 closed

[2018-03-26 11:08] #53 closed

[2018-03-26 12:31] #47 closed

[2018-03-26 12:59] #54 closed

[2018-03-26 13:01] lukasewvd commented on #50
As requested in #54 the "Status" column has been hidden. Keeping the issue open till questions are answered.

[2018-03-26 13:17] AkubaD commented on #34
Could you please implement this as requested in the submitted issue? As a super user, your solution has been able to limit my view of programs in the search page to only the Client register and MCH program, when there are several other programs available. So it should be possible to limit to only the Client register program as requested, right?

[2018-03-26 13:44] lukasewvd commented on #34
@AkubaD My solution does not limit view of program, after checking https://bd-eregistry.dhis2.org
multiple of your programs have not been assigned orgUnits.

[2018-03-26 13:52] #49 closed

[2018-03-26 13:53] AkubaD commented on #39
Discussed an update to this request with @lukasewvd . Waiting on @Bekkalizer  for ideas on how to implement this request as follows:
The initial requested function to return a Boolean - control or not control
We actually have 4 categories of users - control, intervention, non-randomized, and those outside the research area. It is quite probable that the research needs would require me to not just

[2018-03-26 14:12] AkubaD opened #56 "Facility birth Flag like High risk flag"
Some pregnant women (who may or may not be High risk flagged already), are to be flagged for Facility delivery.
Could we have an 'Advise facility birth' flag that acts like the High risk flag?
- Colored red
-In Bold
-Set/displayed by a program rule in the indicators widget, next to, but separate from the High risk flag

The high risk flag is implemented by a function V{highRiskPregnancy} as below.

[2018-03-26 14:28] AkubaD opened #57 "Make text of previous value column titles larger"
Make text of previous value column titles larger. They are currently much smaller than the Data element names in the stages

![image](https://user-images.githubusercontent.com/36447512/37912350-a5f7a940-3112-11e8-8189-43a6a00360e4.png)

[2018-03-26 16:18] AkubaD commented on #47
Oh no @lukasewvd :-( The dropdown is now showing ALL the org units below Union as well. It is supposed to only show the Union-level org units, with none of the Union org units being drop-downs themselves.
It was working perfectly in the edit/create TEI page, but now that is not working, and it also doesn't match what you have in the search page. The search page starts at the Matlab Upazillas. The

[2018-03-26 16:49] lukasewvd commented on #47
So you want it like it was before the change to 2.29? I that case how will we solve #53 where you want to select FWA at Unit level?

[2018-03-26 18:10] AkubaD commented on #47
Yes we would. Sorry for not making the confusion.
You wouldn't have to select the unit level for FWA name. All FWAs are assigned at the unit level. So when you select a union, #53 should work so that any FWAs assigned to a unit in the *selected union* show in the drop-down.
I hope that is clearer? Is that possible? Would it be simpler for you to show FWAs assigned anywhere within the selected unio

[2018-03-27 08:06] AkubaD commented on #47
I also noticed that the link between the FWA name and the Union name work differently in the search page compared to the TEI edit page within a program. In the search page, it appears that the FWA name and Union name are not linked. The FWA names stay the same even when the union name changes, and it is showing all the FWAs in our system. But the TEI edit page shows a much shorter list that change

[2018-03-27 08:25] #57 closed

[2018-03-27 09:34] AkubaD opened #58 "Server error when trying to edit Previous pregnancy stage"
After completing a previous pregnancy stage, when you try to edit it immediately, you get the Server error below. I have not seen it in another stage yet. And this did not use to happen previously

![image](https://user-images.githubusercontent.com/36447512/37959126-b3d0b8f4-31b2-11e8-92e9-88a44cf9a24f.png)

[2018-03-27 11:51] lukasewvd commented on #58
@AkubaD I am not able to reproduce this issue. Could you clean cache and try again?

[2018-03-28 07:49] lukasewvd commented on #46
Fixed with: 2bd166b.

[2018-03-28 07:49] #46 closed

[2018-03-28 08:11] RahmanMonjur commented on #46
It seems same width as before. I cleared the cache. By the way, do I need to redeploy the app?

[2018-03-28 08:14] lukasewvd commented on #46
@RahmanMonjur The app has not been deployed yet. I usually deploy at the end of the day (17:00/05:00 CET) otherwise you can deploy it, if you want to check the change now.

[2018-03-28 08:36] lukasewvd commented on #42
The program stage should be changed now. Please test and confirm.

[2018-03-28 11:30] lukasewvd commented on #36
@AkubaD I'm closing this issue since it is not related to the e-registry app.

[2018-03-28 11:30] #36 closed

[2018-03-28 11:37] #42 closed

[2018-03-29 18:28] RahmanMonjur opened #59 "Yes no translation is not working for yes/no control"
Previously it was working for regular tracker app. And I saw few "no" is also translating in other place (for instance, in 'no person found' returned string, only no is translating. It would be great if we have yes/no translation for controls. Moreover, it would also be helpful if you can fix partial translation problem.

[2018-03-30 14:29] RahmanMonjur opened #60 "Can't translate person entity type through context menu in UI"
Translation option for Tracked Entity Type is also not available in translator app.

[2018-03-31 16:28] AkubaD opened #61 "Rules"

[2018-03-31 17:33] AkubaD commented on #7
Hi @lukasewvd There is something strange going on with the Age value type. Rules that I have written to calculate age no longer work - I get age=2018 using d2:yearsBetween function. When I did display text of the Age/birthdate itself (not calculated age), it printed 'False'. So I think the solution you came up with has somehow been reversed

[2018-04-03 06:16] #61 closed

[2018-04-03 07:46] lukasewvd commented on #7
Hi @AkubaD, could you test if changing the date format to YYYY-MM-DD does anything? I am suspecting that the date format is not converted before calculations.

[2018-04-03 09:48] AkubaD opened #62 "Assign referHighRiskClinic does not give high risk flag"
From the Markus file, I used the action
Assign #{refertohighriskclinic} true
to set the high risk flag when creating managements.
We always used to use refHighRisk for managements, so the high risk flag was triggered (according to Markus).
But icddrb wanted different types of referrals, so I created new ones which of course don't trigger the high risk flag. So I have used Assign #{refertohighriskc

[2018-04-03 11:23] lukasewvd commented on #58
@AkubaD @RahmanMonjur Okay, closing this issue. If you still have problems with this tell me and I will re-open the issue.

[2018-04-03 11:23] #58 closed

[2018-04-03 11:41] AkubaD commented on #7
Hi @lukasewvd  I changed the date format. No difference

[2018-04-03 11:59] lukasewvd commented on #7
@AkubaD Okay, thanks for testing I will look into it.

[2018-04-03 13:40] RahmanMonjur opened #63 "don't need previous values table for ANC counselling"
here are the section UIDs

&& section.id!=='PeW7KADXO1t' && section.id!=='Ze1zo0ux6HA'

[2018-04-03 14:36] lukasewvd commented on #7
@AkubaD Do you perhaps have the name of a program rule I can check?

[2018-04-03 14:59] lukasewvd commented on #63
Hi @RahmanMonjur, this should be fixed after a new deploy.

[2018-04-03 14:59] #63 closed

[2018-04-04 05:16] AkubaD commented on #7
This rule calculates age
https://bd-eregistry.dhis2.org/dhis/dhis-web-maintenance/#/edit/programSection/programRule/ruleAtr1008
This rules displays it in the Indicator widget - and that's where you see that it is not working - constantly displays age as 2,018
https://bd-eregistry.dhis2.org/dhis/dhis-web-maintenance/#/edit/programSection/programRule/ruleTop1006
This rule

[2018-04-04 09:58] lukasewvd commented on #60
This is a dhis-core issue, could you please report it on the JIRA site (https://jira.dhis2.org)?

[2018-04-04 12:15] RahmanMonjur commented on #59
Thanks @lukasewvd. I've translated few more phrases in translation server which will solve partly translation factors mostly. Although it seems a bit complicated. We need to communicate with Jason for getting the updated properties file. Or, you can download it translation server? Your proposed idea is fantastic; after incorporating new properties file lets see what for which phrases we need to ap

[2018-04-04 13:36] lukasewvd commented on #7
I have commited a fix that should handle this issue, please test (when new deploy is done) and give me feedback.

[2018-04-05 13:26] #7 closed

[2018-04-05 13:27] #60 closed

[2018-04-06 10:57] iambodo opened #64 "Union Name attribute selector shows other OU types on registration page"
On the registration page, the "union name" attribute shows the full tree.
![image](https://user-images.githubusercontent.com/36451485/38417777-f39aa078-3999-11e8-8880-9f418d59f81c.png)

When searching for OU in eReg app, it restricts to only the Unions
![image](https://user-images.githubusercontent.com/36451485/38417794-03132f5c-399a-11e8-8fc5-b583cfa1856d.png)

[2018-04-06 13:36] lukasewvd commented on #39
I have added a function to program rules called: d2:hasUserRole. It can be used like this: d2:hasUserRole( 'x123x123' ), where the paramater is the id of a user role. The function will return either true or false depending if the user has the role that is checked.

[2018-04-06 14:01] lukasewvd commented on #64
This should be fixed with the next deploy.

[2018-04-06 14:01] #64 closed

[2018-04-09 18:19] RahmanMonjur opened #65 "Registration OrgUnit tree is different than Search OrgUnit tree"
Registration OrgUnit Union tree is containing below level of Unions which is different than search OrgUnit Union tree. Moreover, when you collapse a tree node, then expand/collapse icon disappears. Also, need to delete Matlab UHCs from Union lists as they're health facilities.

[2018-04-10 04:48] RahmanMonjur commented on #65
Yes @iambodo, app is deployed and updated. Still the Unions are containing child nodes in Registration page (Search page is OK). However, its not an urgent issue now, but need to be solved at sometime.

[2018-04-11 07:36] RahmanMonjur commented on #60
Jason asked to communicate with Markus, Lukas, or other experts.

[2018-04-11 07:40] lukasewvd commented on #60
As stated in my previous comment, this is not directly related to the e-registry app, therefore you can create an issue on JIRA(https://jira.dhis2.org) where the relevant devs will be notified of this issue.

[2018-04-11 07:45] RahmanMonjur commented on #60
I've communicated with Jason and sent errors (server logs), and he was saying that it would be a database issue.

[2018-04-11 07:47] lukasewvd commented on #60
As of now translation of tracked entity type is not supported, it needs to be implemented.

[2018-04-11 07:51] RahmanMonjur commented on #60
FYI, It works in live.dhis2.org

[2018-04-11 07:59] lukasewvd commented on #60
You are correct, my fault. I see there is a 500 Internal Server Error when I try to save the translation. @Bekkalizer any ideas?

[2018-04-11 17:22] AkubaD opened #66 "How to hide widgets from specific users/user group"
For intervention and control, we would not like them to see the risks and managements generated. The managements and clinical risks are program stages that we are able to restrict access to specific user groups (the control) so that control users are unable to see managements generated by the data they enter.
The Medical risk and Obstetric risk boxes are widgets: risksANCMED and Feedback respectiv

[2018-04-12 06:47] AkubaD commented on #39
Hi @lukasewvd. Thanks for the update.
With the change in how user roles and user groups work in v29, the function needs to be based on User role and not user group. I detailed that in creating the issue, and the IDs I provided were of user groups.
Im hoping you meant user group and not user role...

[2018-04-12 07:41] Bekkalizer commented on #39
Is it just as easy to use the user roles for you Akuba? The users can still have user roles like before, and the user roles is already cached in the app, so we dont have to do a new call to get the user groups.

[2018-04-12 08:06] Bekkalizer commented on #66
This is not possible with the current functionality. We can have a call and spec and build somethig to support it.

[2018-04-12 09:01] lukasewvd commented on #48
This has now been fixed and should be ready for testing/use in the next deploy.

[2018-04-12 09:01] #48 closed

[2018-04-12 11:31] AkubaD commented on #62
@lukasewvd  @Bekkalizer
Here are the additional Management types that should generate the high risk flag from this option set: HQuAxfbUQhw
RefDiabetes
RefNonUrgent
IronSupplements
RefRiskFlag1
RefRiskFlag2
RefRiskFlag3

[2018-04-12 12:02] lukasewvd commented on #65
I have done some improvements to the orgUnit tree. It should function better in the next deploy.

[2018-04-12 12:03] #65 closed

[2018-04-12 12:28] lukasewvd commented on #34
@AkubaD Can this issue be closed?

[2018-04-12 12:29] #50 closed

[2018-04-12 12:51] RahmanMonjur opened #67 "Form layout is different width ratio than ANC stage."
Form layout is different for Pregnancy Identification, Delivery Care (neonatal), PNC care (neonatal) stages than other stages. Its DEs label and controls width for value percentages are same as other DEs in other data entry forms (ANC).

[2018-04-12 13:25] lukasewvd commented on #56
I have added it now, I have not tested it so would appreciate if you could do it.

[2018-04-12 13:25] #56 closed

[2018-04-12 13:38] RahmanMonjur commented on #65
@lukasewvd Registration orgUnit is containing two nodes ('JoBQEuzxohv','NzTpSVrwBcE') which is not applicable here. There are also note in search orgUnit.

[2018-04-12 13:53] lukasewvd commented on #65
Thanks for the heads up, I have fixed it now.

[2018-04-13 11:57] AkubaD opened #68 "Coupled Booking and subsequent visits de-couple inconsistently"
The coupling of the 1st and subsequent visits for ANC, PNC and Newborn care seem to decouple inconsistently. I had observed this once before with @lukasewvd and clearing cache fixed it. But on recent trip to Bangladesh, we had it persist through cache clearing, and re-logging in. There did not seem to be any consistency in what makes this occur: we tried different machines, browsers and users(Monj

[2018-04-13 12:20] AkubaD opened #69 "Completing ANC1 intervention prompts creating ANC1 control"
When you click Complete for the ANC1 stage (WZbXY0S00lP), it prompts to schedule a follow up appointment for ANC1 control (piRv8jtcLQV).
1) ANC1 intervention should be coupled with ANC subsequent visit intervention (edqlbukwRfQ).
2) This is for a user that has read access to the ANC1 control, so they should not even be able to create an instance of this stage

![image](https://user-images.githubus

[2018-04-13 13:24] AkubaD opened #70 "Display text for Name and Age no longer works - has to be Display Key/value pair"
This rule ruleTop1006 to display name and age of the client has always worked even when we had issues with the way the age value type was implemented.
We just noticed today (maybe this was affected by the deploy yesterday), that the Name and age were no longer displaying at all.
After testing, I realized that the only way it displays is to change the action from Display Text to Display Key/Value p

[2018-04-16 08:38] lukasewvd commented on #69
Referring to mail from Markus about this being an issue with the settings, not a bug.

[2018-04-16 08:38] #69 closed

[2018-04-16 09:03] #70 closed

[2018-04-16 10:30] lukasewvd commented on #68
I have spent some time trying to reproduce this without success. If it happens again write down exactly what you did before the error occurred.

[2018-04-16 10:36] lukasewvd commented on #67
This is not a bug, but done by design. Some program stages have been hard coded to look diffrent. For instance in dataentry-controller.js:
` if($scope.displayCustomForm === "COMPARE" && $scope.currentStage.id === 'FRSZV43y35y'){
      $scope.buildChildMenu(); }`

[2018-04-16 10:38] AkubaD commented on #68
Hi @lukasewvd
I have had difficulty reproducing it as well. That is the concern, that it happens inconsistently. What I observed while I was in Bangladesh was that it was generated through a regular login process. As mentioned above, we changed users, relogged in as the same user, changed machines, cleared cache and it would persist inconsistently.

[2018-04-16 10:53] #34 closed

[2018-04-16 12:15] iambodo opened #71 "Event Analytics not loading"
500 Error when loading the EVENT resource in analytics

![image](https://user-images.githubusercontent.com/36451485/38808412-672986ce-4180-11e8-8cfd-f02eb0b5d354.png)

![image](https://user-images.githubusercontent.com/36451485/38808370-33c288bc-4180-11e8-9ad9-9def9bff103e.png)

I am able to load enrolment count for client register but *no other program indicators.*

[2018-04-16 12:16] iambodo commented on #71
and FYI, using admin level user, cleared cache, run resource tables repeatedly.

[2018-04-16 12:50] AkubaD commented on #69
Hi @lukasewvd
I responded to Markus's email: It is a bug because the stage that should be suggested for addition should be the ANC subsequent visit stage (which is supposed to be coupled to ANC1 intervention), or at worst, the same stage which is ANC1 intervention. It should not be ANC1 control (which should not have any connection to ANC1 intervention).
For users who have access to both the contr

[2018-04-16 12:59] lukasewvd commented on #69
Okay, could you give me a detailed list of steps on how to reproduce this issue? On you online instance I can not see ANC1 intervention.

[2018-04-16 13:27] iambodo opened #72 "EDD shows "future date not allowed""
But is clearly marked as future date allowed in the program stage config
![image](https://user-images.githubusercontent.com/36451485/38811223-48762968-4189-11e8-9b6f-e893c4d4e190.png)
https://bd-eregistry.dhis2.org/dhis/dhis-web-maintenance/#/edit/programSection/program/WSGAb5XwJ3Y --> stage: ANC 1st Visit - intervention, assign data elements.

this data element is autocalculated based on the LMP

[2018-04-16 13:33] lukasewvd commented on #71
This is not a code bug, but a server configuration issue. The error that is printed is: **"Out of shared memory Hint: You might need to increase max_locks_per_transaction"**.

[2018-04-16 14:33] AkubaD commented on #69
@lukasewvd
I think your user is an admin user, so you should be able to see this.
Create a new client. Fill in a few data elements (click a couple of Yes' in Medical risks eg Asthma) and Click complete.
You should see the pop up suggesting to create an instance of ANC1 Control. It should be ANC intervention instead

[2018-04-16 15:05] AkubaD commented on #62
@lukasewvd There is now a significant delay in the display of the High risk flag.
After the satisfying conditions have been met (click Yes for Asthma, Severe headache), managements and risks show, but the high risk flag does not.
You have to either Complete the event, or exit the client's record and come back into it in order for the flag to display. This doesn't work for our workflow because the

[2018-04-16 15:54] AkubaD commented on #55
Hi @lukasewvd  and @Bekkalizer
Could I get an update on this
This user has read access to this stage. But when you click on the plus button to create a new stage, this Read only stage shows up in the list of stage options, but when you click to Save, it does nothing and the pop up stays until you click Cancel.

![image](https://user-images.githubusercontent.com/36447512/38820739-fc4d1a86-419e-11e8

[2018-04-17 07:36] AkubaD commented on #62
Hi @lukasewvd  and @Bekkalizer
I suspect this delay has something to do with the rules and the sequence in which they run. I am having a similar delay issue with display of calculated para and gravida values in the indicators widget

[2018-04-17 08:09] lukasewvd commented on #69
With ANC1 I assume you mean ANC 1st visit. This is how the programStages were ordered:
![skjermbilde 2018-04-17 kl 10 00 20](https://user-images.githubusercontent.com/6719078/38856504-f127f206-4226-11e8-8363-03ef0a62e89f.png)

But if you change the order to the one below, the next event prompt works as intended:
![skjermbilde 2018-04-17 kl 10 00 00](https://user-images.githubusercontent.com/671907

[2018-04-17 10:58] iambodo opened #73 "v2.29 dashboard not displaying event reports (Palestine dev)"
freezing with 500 internal server error for event reports
![image](https://user-images.githubusercontent.com/36451485/38865599-83f325e4-423e-11e8-9e60-1373704d79af.png)

receiving the max locks error: {"httpStatus":"Internal Server Error","httpStatusCode":500,"status":"ERROR","message":"ERROR: out of shared memory\n  Hint: You might need to increase max_locks_per_transaction."}

example error: htt

[2018-04-17 14:12] #72 closed

[2018-04-17 14:14] lukasewvd commented on #73
Most likely same issue as with #71 .

[2018-04-17 14:17] lukasewvd commented on #39
@AkubaD Could you please give an answer so we can proceed?

[2018-04-17 16:32] Bekkalizer commented on #62
Ok, do you have cascading rules? One rule that relies on the calculation of another rule?

[2018-04-17 18:53] AkubaD opened #74 "Some stages not showing previously created instances"
Most of our stages list all instances of that stage in sequence. See screenshot below. I just realized that 3 of our stages don't have that feature.
![image](https://user-images.githubusercontent.com/36447512/38890315-4d8ea116-4281-11e8-8858-5104ae20465a.png)

1) Lab results - Qffb7tI7jT7  OR BjNpOxjvEj5 The one in the MCH program: WSGAb5XwJ3Y
2) Newborn care 1 - FRSZV43y35y (Interestingly, when y

[2018-04-18 08:26] iambodo commented on #71
FYI, Monjur fixed this. New Limit set to 1000. Previously max locks setting was disabled, and default set to 64.
https://www.postgresql.org/message-id/a7c00d4b0911191722l4354168ajfd06f6cc7cc1ed82%40mail.gmail.com

Event reports now works!
![image](https://user-images.githubusercontent.com/36451485/38920185-f358de06-42f2-11e8-86af-0df5213d1614.png)

[2018-04-18 08:26] #71 closed

[2018-04-18 08:31] Bekkalizer commented on #74
These stages is using the "compare form" mode as they always have? Did something change for you?

[2018-04-18 08:33] Bekkalizer commented on #68
Do we have two issues here? The registration form not always appearing after a cache clean have been observed from time to time, but it has proven very hard to pin down and fix.
The coupling - is it working now?

[2018-04-18 08:57] AkubaD commented on #74
@Bekkalizer
I created a new user and put in 4 LAB events in chronological order. The screen looks the same. Look like there is a bug

[2018-04-18 09:07] lukasewvd commented on #74
This should be fixed now (after new deploy).

[2018-04-18 09:14] #74 closed

[2018-04-18 09:15] lukasewvd commented on #73
This should be fixed now, if not tell us and we will reopen the issue.

[2018-04-18 09:15] #73 closed

[2018-04-19 07:10] AkubaD commented on #68
Yes there are 2 issues, going on. I put them together because they have been experienced similarly and seem to have the same solution - clear cache and restart. I will put the registration one in a new issue then.
The de-coupling is still an issue, They have been experiencing it consistently in Bangladesh. It has created an issue in training that when they are decoupled and you start an ANC1 visit

[2018-04-19 12:41] lukasewvd commented on #68
@AkubaD I have made a possible fix (note that I am saying possible as I have not been able to reproduce the bug and therefore also not able to test the fix). There are two things that need to be done by Monjur:

1. Update the app in all instances.
2. Push a config to all instances.

The config can be pushed to the server with this command:
`curl -X POST \
  [**BASEURL**]/api/dataStore/tracker/main

[2018-04-19 13:15] AkubaD commented on #68
Thanks! I'll follow up with him

[2018-04-20 07:12] #39 closed

[2018-04-20 12:24] AkubaD opened #75 "Issue with sequence of coupling ANC control stages"
The ANC1 control (piRv8jtcLQV) and ANC subsequent control visit (IlSUGDq9QDc) stages are supposed to be coupled in the following way:
Menu of stages shows ANC subsequent visit control
When you first click on that menu to create a new stage, ANC1 control is created
All subsequent stages created should be ANC subsequent visit.
This is how it works for the ANC1 and ANC visit (intervention)
For the co

[2018-04-20 12:29] AkubaD commented on #75
This is the sequence in which the stages are listed in the program
![image](https://user-images.githubusercontent.com/36447512/39050869-44e7f36e-44a7-11e8-98b4-e269de97cf92.png)

[2018-04-20 13:38] #75 closed

[2018-04-23 09:25] AkubaD opened #76 "Full profile does not load when creating new TEI"
This used to be in #68 - the decoupling of program stages.
When you try to register a person, it sometimes does not give the full profile page and you have to restart the registration, and sometimes have to clear cache as well. It is easier to reproduce on the training instance: http://103.247.238.74:8081/dhistr/api/apps/E-Registry/index.html
Your logins on Dev should work here as well.

![image](

[2018-04-23 09:35] AkubaD opened #77 "Previous pregnancy Control summary table columns"
Can you please make the summary table for Previous pregnancies column for control (uD4lKVSbeyB) look like that of the Previous pregnancy intervention PUZaKR0Jh2k
This is how control looks now uD4lKVSbeyB
![image](https://user-images.githubusercontent.com/36447512/39118724-55a42610-46ea-11e8-8608-ab3e010d6b87.png)

Want it to look like this PUZaKR0Jh2k (without the status column. Please take out th

[2018-04-23 09:38] AkubaD commented on #77
Sorry, I realized what the issue was. Had to do with one of the data elements

[2018-04-23 09:38] #77 closed

[2018-04-23 14:50] lukasewvd commented on #76
This commit should fix this issue: https://github.com/HRHR-project/e-registry-app/commit/8fc9a2ce8c0cc226087500ab477b0fa5f2321280. If not tell us and we will re-open the issue.

[2018-04-23 14:50] #76 closed

[2018-04-24 12:28] AkubaD commented on #62
Hi @lukasewvd
I answered this question with @Bekkalizer I believe last week when he was in Oslo.
I have taken out what would have been any sort of cascading rule since he explained that there is no need to set the new Bangladesh Flag variable - It gets set by the management itself.
So now the flow is that the management is created (which should set the variable), and there is the rule that display

[2018-04-24 14:53] AkubaD commented on #66
I'm using the hasUserRole function in my rules to take care of this issue.
But yes, I think it could be a good functionality to have

[2018-04-25 13:02] lukasewvd commented on #67
Should be fixed now.

[2018-04-25 13:02] #67 closed

[2018-04-26 11:57] AkubaD commented on #24
@zepto5 @Bekkalizer @lukasewvd
We didn't use the System generated ID in the first phase of rollout, We are now using it for the first time since it was implemented in March and I get an error when I tried to create an attribute with a unique number generated with a pattern.
According to the instructions I saw online for DHIS2, to generate a pattern, you put in a number of zeros representing the nu

[2018-04-26 13:02] Bekkalizer commented on #24
Start with the docs here:
https://docs.dhis2.org/master/en/user/html/dhis2_user_manual_en_full.html#d1473e40183
Let us know if there is additional details you need.

The pattern 000000 is supported in 2.28 and earlier versions of this.

[2018-04-27 12:31] AkubaD opened #79 "Errors related to Hide stage action"
This rule U2C4XZRwam5 does 2 things: show warning on a data element in the current stage, and Hide another stage.
The Show warning action was initially the first action of the rule. When the condition was satisfied, it would show the warning. The stage to be hidden did not behave any differently - it could be created and completed with no problem. Meaning the Hide Stage action is not working.
When

[2018-04-27 12:34] Bekkalizer commented on #79
Can you double check that the rule is "HIDEPROGRAMSTAGE" and not
"HIDEFIELD"?

27. apr. 2018 kl. 14:31 skrev AkubaD <notifications@github.com>:

This rule U2C4XZRwam5 does 2 things: show warning on a data element in the
current stage, and Hide another stage.
The Show warning action was initially the first action of the rule. When
the condition was satisfied, it would show the warning. The stage to

[2018-04-27 12:36] AkubaD commented on #79
She's using the UI and so it is the Hide Program stage action

![image](https://user-images.githubusercontent.com/36447512/39362868-4a9719a8-4a28-11e8-88cf-fa34846c91a7.png)

[2018-04-27 12:48] Bekkalizer commented on #79
Ok, logged on and had a look now. The program rule action looks all
correct. However, looking at the API directly it seems something has
corrupted the program rule action:
On this URL:
https://bd-eregistry.dhis2.org/dhis/api/programRules/U2C4XZRwam5?fields=*,programRuleActions[*]
...I see that the program rule action of type "HIDEPROGRAMSTAGE" has
specified not only a program stage, but also a dat

[2018-04-27 13:09] AkubaD commented on #79
This is Ingrid's rule, so I don't know how she created it. But I did delete and put the Hide Program stage action back in. I also changed the Show Warning action to the Hide Stage rule and vice versa to get the order right. So the actions have been changed around a bit with no solution.
I can try deleting and recreating the rule to see if that will help

[2018-04-27 13:25] AkubaD commented on #79
New rule ID is G9bZJewjFVA
After I first created it, the Hide stage action moved to be the first action and I got the same issue of the Show warning text not showing when the condition was true.
So I deleted the Hide stage action and recreated so it was the second action, and the Show warning text showed up.
I know why the action got corrupted before. It was because I changed the actions from Show

[2018-04-30 12:37] AkubaD opened #80 "Cannot select Union name in registration"
Union name drop down looks different in search, compared to registration and Profile edit

Here is how it looks in registration. When it looks like this, you cannot select anything. You click and nothing is selected. This is a list of all the org units in the system, which we don't want. We only want the Unions. See the second screenshot below
![image](https://user-images.githubusercontent.com/364

[2018-04-30 12:50] AkubaD opened #81 "System generated ID leaves gaps in generating sequential numbers"
I created a new attribute which is a system-generated unique ID with pattern "A" + SEQUENTIAL(######)
The UID of the attribute is bJb9O1OGjiA in program ACMUH0rDgyd
I have created only 3 users since I added this attribute to the program, It has generated the IDs ok, but there are large gaps between. The 3 IDs generated are A000002, A000006, A0000010. I did a search for the other missing values in

[2018-04-30 13:00] AkubaD opened #82 "Attribute list doesn't load for registration"
I keep getting this screen after I click to register a new TEI.
Clearing cache did not resolve it. I had to log out and log back in

![image](https://user-images.githubusercontent.com/36447512/39428209-e36f249e-4c86-11e8-846b-dc675970bcdc.png)

[2018-04-30 13:06] AkubaD opened #83 "Org unit code for automatically generating system ID not working"
Here is the pattern I am using to automatically generate a sequential ID prefixed with the registering org unit ORG_UNIT_CODE() + "_" + SEQUENTIAL(######)
What I keep getting is _000002, etc. The org unit prefix is not getting added to the ID

![image](https://user-images.githubusercontent.com/36447512/39428046-4c362a96-4c86-11e8-9e02-430ab918caee.png)

[2018-04-30 13:36] lukasewvd commented on #80
Should be fixed now (after deploy).

[2018-04-30 13:36] #80 closed

[2018-04-30 13:44] lukasewvd commented on #82
@AkubaD Is this a one-time incident or does it happen again after you log out and then in again?

[2018-04-30 14:40] AkubaD commented on #82
Hi @lukasewvd
It seemed to be one time - it didn't happen again after I logged out and logged in again. But another colleague had the same experience earlier today: No attributes loading, and fixed after logging out and logging back in

[2018-04-30 15:24] AkubaD opened #84 "Make newborn stages not 'Compare form'"
Hi @Bekkalizer @lukasewvd
Referecing issue #74, Bangladesh would want the Newborn 1 stage FRSZV43y35y to NOT be in the current 'Compare form'.
We would want it to be like ANC1 and PNC1. The newborn subsequent visit (fSE8JyGdsV6) is already in the ANC/PNC form, so no need to touch that.
Thanks

[2018-05-01 14:47] iambodo opened #85 "cannot add postpartum event"
There may be a special program rule to allow PPC event. However its just not letting me add a new one when I press "plus" icon.

If its expected behavior, what are the conditions needed to add a new PPC?

![image](https://user-images.githubusercontent.com/36451485/39477294-29929cb6-4d5f-11e8-82ab-fc3299527fe1.png)

I have shared this stage with everyone who has MCH program access (including my use

[2018-05-02 07:34] lukasewvd commented on #84
Should be fixed now (after new deploy).

[2018-05-02 07:34] #84 closed

[2018-05-02 07:42] lukasewvd commented on #82
Could be related to the deploy. Sometimes you need to do a browser cache clean after a new deploy has been done. I will keep this issue up for a bit, but if it does not happen again I will close the issue.

[2018-05-02 07:44] AkubaD commented on #82
@lukasewvd should you need to do a cache clean if you consistently use a new incognito window?

[2018-05-02 07:45] lukasewvd commented on #82
No, in _theory_ not.

[2018-05-02 07:58] AkubaD commented on #82
@lukasewvd
It just happened again. I opened a new incognito window and tried to create a new TEI and got no attributes loading.
I logged out and logged in as another user and it was ok. Also logged out and logged back in as the original user and it was ok as well.

[2018-05-02 07:59] lukasewvd commented on #82
Did you check the console for errors?

[2018-05-02 08:00] AkubaD commented on #82
Oops, sorry I didn't, Will do if it happens again

[2018-05-02 08:06] AkubaD commented on #82
@lukasewvd
Here you go. I got it to happen again by opening a new incognito window and logging in as a different user
![image](https://user-images.githubusercontent.com/36447512/39512081-e524e3ae-4def-11e8-9584-1d3a573b4d4b.png)

This is what console looks like when I re-login and the issue does not appear. The error in the console is also gone
![image](https://user-images.githubusercontent.com/36

[2018-05-02 08:13] AkubaD commented on #82
I also get these errors when I try to clear cache

![image](https://user-images.githubusercontent.com/36447512/39512314-d050ff8e-4df0-11e8-8ee4-6c8a7f234f1a.png)

AND THEN, the original issue and error show up again after I clear cache. Note that the issue had gone after I re-logged in, and now it is back within the same login session, but only after I cleared cache.
![image](https://user-images.g

[2018-05-02 08:18] AkubaD opened #86 "Can Clear cache buttons be put at top of page?"
Since we use clear cache to solve quite a few issues, can we make the process more user friendly by having the Select all and Clear buttons at the top of the page instead of the bottom? No one (certainly not our users) looks at the list of things to clear. We always select all, so there's no need to scroll down to look through the list.

![image](https://user-images.githubusercontent.com/36447512/

[2018-05-02 08:27] lukasewvd commented on #85
This should be fixed with a new deploy. The fix has not properly been tested yet, so I am keeping the issue open till that has been done.

[2018-05-02 08:30] lukasewvd commented on #86
@AkubaD We do not work on the cache cleaner app. If you want a change in the app you can request an improvement for the app on the DHIS2 JIRA: https://jira.dhis2.org.

[2018-05-02 08:30] #86 closed

[2018-05-02 08:35] lukasewvd commented on #82
@AkubaD What user are you using?

[2018-05-02 08:38] lukasewvd commented on #82
I was able to reproduce it now.

[2018-05-02 08:42] AkubaD commented on #82
It doesn't seem to matter which user. I have used mCHCP_int1, mCHCP_cont, CHCP_int_trial1
All with password eReg!234
All gave the same pattern of behavior

[2018-05-02 08:47] AkubaD opened #87 "New error on registration: check import summary"
This is a new error I have not seen before. It is happening consistently when I try to create a new TEI
The warnings in the console are related to a program rule that has not been edited/corrected for a while, so I doubt it that has anything to do with it
![image](https://user-images.githubusercontent.com/36447512/39513500-da727782-4df4-11e8-9356-227cd0d2f17d.png)
Trying a second time
![image](htt

[2018-05-02 09:03] AkubaD opened #88 "Program stages moved around, seemingly on their own..."
I had our program stages in a particular sequence so they would show up in a particular sequence in the menu for our users.
I just noticed today they have been moved completely out of sequence. No one seems to have done it manually, and it would have been a lot of work to do it manually.
Any clues how this could have happened?

![image](https://user-images.githubusercontent.com/36447512/39514605-f

[2018-05-02 10:39] AkubaD opened #89 "Persistent error on data entry"
This is new today.
This pops up with every data entry that is supposed to run a rule, ANY rule.  The data element referenced does not get hidden, even though the pop-up says it is. And that Hide data element action is in only 1 rule. After that rule first got triggered, now it is triggered with ANY data entry in the page
![image](https://user-images.githubusercontent.com/36447512/39518965-2ecb42d6

[2018-05-02 10:45] lukasewvd commented on #82
I have made a fix for this issue, has not been properly tested, but from what I am seeing it should work. Keeping the issue open till it has been tested.

[2018-05-02 10:48] AkubaD commented on #89
Actually, the rule that hides the BMI data element and triggers the pop-up uses the new hasUserRole function. ID bmbzlnEnfHS
Maybe that is related...

[2018-05-02 10:51] lukasewvd commented on #88
We do not work on the Maintenance app, we only work on the eRegistry, tracker-capture and event-capture app. You can report the bug on the DHIS2 JIRA: https://jira.dhis2.org.

[2018-05-02 10:51] #88 closed

[2018-05-02 12:53] lukasewvd commented on #87
@AkubaD If you see this issue again, could you double-click the link next to the red POST and take a screenshot?

[2018-05-07 12:25] iambodo opened #90 "Attributes are locked on registration"
When enrolling a new client, all attributes are locked/blacked out, as if they have been pre-filled. No errors in client side logs.

However, after refreshing the page, this error disappears and can enroll new client like normal. As we are in training, this presents a major workflow bottleneck for new users.

Model control user
afreen_TEST
eReg!234
![image](https://user-images.githubusercontent.co

[2018-05-07 14:32] AkubaD opened #91 "System now requiring entry of enrollment date for MCH program only"
It used to be when you created a tracked entity in our Client register program, and then enrolled in the MCH program, you did not need to enter anything else (because they have the same attributes). Clicking Enroll completed the enrollment immediately.
Since the latest deploy, we now have the system requiring that the user enter the enrollment date.
How do you make the date of enrollment prefilled

[2018-05-08 14:25] AkubaD commented on #90
Hi @lukasewvd  @Bekkalizer
Could you take a look at this error? I just experienced it today with my admin user and no particularly unique workflow.
Looks like it is one of the intermittent errors we have been seeing lately which can be difficult to replicate. Please let us know what more information you need to be able to investigate.
As Brian mentioned in the initial issue, it goes away once you

[2018-05-09 13:59] AkubaD opened #92 "Sequence of actions changes after rule is created"
I first observed this in February, so it is not related to a recent deploy.
When you create a rule and have a sequence of actions, after you save the rule and reopen it, the sequence of the actions changes.
See changed sequence below. I have been able to replicate it twice consistently when I create a rule with multiple actions

![image](https://user-images.githubusercontent.com/36447512/39818261-

[2018-05-14 16:29] AkubaD opened #93 "TEI created in program says it is not enrolled in that program"
When you create a TEI in the client register program (that is our workflow), it says there is no active enrollment and asks that you enroll.
I'm not sure how this is possible since the TEI has created with the client register program selected for enrollment.
When you click to enroll, it enrolls okay

![image](https://user-images.githubusercontent.com/36447512/40010194-58d9e336-57a4-11e8-8333-04a89

[2018-05-16 14:18] RahmanMonjur commented on #91
@lukasewvd : I did a trick in enrolment-dates-form.html file. After line 28, I've put
ng-init="selectedEnrollment.enrollmentDate = selectedEnrollment.enrollmentDate || today"
and got the today's date if the controller couldn't fetch enrolmentDate.

[2018-05-16 18:03] RahmanMonjur commented on #89
stop generating BMI by adding the below line in condition of rule rulePEx1015

&& !(d2:hasUserRole('moQCqVTW1Kz') || d2:hasUserRole('c9QQ5Jr4Fmy'))

[2018-05-24 11:35] AkubaD opened #94 "Alternate solution: Mask events created by another user for control user role (or group) for 2 program stages"
Hi @lukasewvd @Bekkalizer
We have 4 stages for ANC. Below are their names, UIDs and descriptions (control/intervention, ANC1 or subsequent visit)
   | UID                 | Name             | Description
1 | WZbXY0S00lP | ANC 1st visit  | ANC 1 Intervention
2 | edqlbukwRfQ | ANC visit         | ANC subsequent visits intervention
3 | piRv8jtcLQV    | ANC 1st visit_ | ANC 1 Control
4 | IlSUGDq9QDc |

[2018-05-24 12:03] AkubaD commented on #94
Here is the behavior we would expect:
sample control user: chcp_control_trial1
sample intervention user:  chcp_int_trial1
password for both: eReg!234

Since the control user groups don't have access to the intervention stages, their view of their ANC1 and ANC visit (control) should stay the same -
1) they should only see the control stages
2) when adding an ANC stage, they should first get the ANC

[2018-05-29 15:00] iambodo opened #95 ""enrolling clinic" changes to OU of user viewing enrollment"
Search for user shows a different registering org unit
![image](https://user-images.githubusercontent.com/36451485/40666829-f2102444-6360-11e8-9b05-a6ae40797bb4.png)

It has switched to the OU that searched for the enrollment
![image](https://user-images.githubusercontent.com/36451485/40666896-1a73cb84-6361-11e8-8fd7-6c8d5f546395.png)

Then you switch to a new OU for search
![image](https://user-i

[2018-05-29 16:13] iambodo opened #96 "cannot view previous events entered elsewhere"
Thought this was a flaw in the Android app, but it appears to be an issue with latest eReg app code.

I can see previous events for a TEI enrollment, Joly, when I am logged in as a superuser. I can see all events entered previously.
![image](https://user-images.githubusercontent.com/36451485/40671135-5005e46c-636b-11e8-87b4-d6bfee9c56e9.png)

But then I access a TEI enrollment as a model Android u

[2018-06-01 08:50] AkubaD opened #97 "Errors on cache clearing"
GET https://bd-eregistry.dhis2.org/dhis/dhis-web-core-resource/dhis/dhis2-util-1554e6a5ab.js 404 (Not Found)
GET https://bd-eregistry.dhis2.org/dhis/dhis-web-core-resource//fonts/roboto.css 500 (Internal Server Error)

![image](https://user-images.githubusercontent.com/36447512/40831541-966b929c-6589-11e8-8ba2-d425c2a11c69.png)

[2018-06-01 08:57] AkubaD opened #98 "Error on enrollment in creation of TEI - enrollment in Client register program"
angular.js:9866
GET https://bd-eregistry.dhis2.org/dhis/api/29/userSettings/keyTrackerDashboardLayout 404 (Not Found)

![image](https://user-images.githubusercontent.com/36447512/40831872-6f9d0db6-658a-11e8-8a01-4c205967a01e.png)

[2018-06-01 09:04] AkubaD opened #99 "Error related to _getHighRIskPregnancy"
I got this error when creating a new stage (not in the MCH program)
And the rules in that stage don't seem to be running. All but the first data element are supposed to be hidden
angular.js:11655 TypeError: Cannot read property 'concat' of undefined
    at _getHighRiskPregnancy
![image](https://user-images.githubusercontent.com/36447512/40832361-6ca3cba8-658b-11e8-9d86-9b655ccedd26.png)

[2018-06-01 09:11] AkubaD opened #100 "Save failed - cannot save stages related to #99 _getHighRiskPregnancy"
Getting a Save failed error for Yes/No data elements (only).
The entire event is not saved. And for non-repeatable program stages, you cannot create another event because one has already been created, even though it was never saved.
Error is
angular.js:11655 TypeError: Cannot read property 'concat' of undefined
    at _getHighRiskPregnancy
AND
DHIS2EventFactory.updateForSingleValue.then.$scope.cur

[2018-06-01 10:00] AkubaD commented on #100
@zepto5
@Bekkalizer asked for you to look at this

[2018-06-01 10:00] AkubaD commented on #99
@zepto5
@Bekkalizer asked for you to look at this

[2018-06-01 11:49] zepto5 commented on #99
The rules should now be running

[2018-06-01 11:49] #99 closed

[2018-06-01 11:51] zepto5 commented on #100
The error message is fixed, and caused the rules to not run. The events seems to be saved, but for some reason, I can only get them with the admin user. This is most likely a dhis2-core issue. I will do some more investigation and pass it on to the core developers.

[2018-06-02 10:01] #100 closed

[2018-06-02 10:03] zepto5 commented on #98
Not actually an error. Client checks for something in the userSettings. If its not found, the browser throws an 404 not found message. This can be ignored.

[2018-06-02 10:03] #98 closed

[2018-06-02 13:26] iambodo opened #101 "scheduling dashstats events"
for analytics purposes I created a new management-type event: dashstats, which is supposed to be hidden for all users. When I enter a booking visit as a superuser, it asks me to schedule the next dashstats event,
https://hrhr.dhis2.org/dhis/dhis-web-maintenance/#/edit/programSection/program/WSGAb5XwJ3Y

After I enter the next ANC visit, it asks me to schedule another ANC visit instead.

![image](h

[2018-06-04 08:36] AkubaD opened #102 "404 error on creation and enrollment of TEI"
I get this error when I first create a TEI in the Client register.
Appears again when enrolling in another program and everytime I switch between programs.

GET https://bd-eregistry.dhis2.org/dhis/api/29/userSettings/keyTrackerDashboardLayout 404 (Not Found)

![image](https://user-images.githubusercontent.com/36447512/40907110-10fde068-67e3-11e8-8f76-7ab1d44d68ee.png)

[2018-06-04 09:00] Bekkalizer commented on #102
This is "just" log noise. We can remove it, but it should not have any functional impact. All the operations in the UI works normally, right?

[2018-06-05 09:39] AkubaD commented on #91
@Bekkalizer Could you have someone take a look at this? It is an additional, unnecessary step in our workflow that we did not have previously and would like it to be as it was. Monjur had a possible solution in the previous comment

[2018-06-05 10:34] AkubaD commented on #94
Hi @Bekkalizer
Could @lukasewvd  work on this now? It should be a quick fix.

[2018-06-05 10:37] #82 closed

[2018-06-05 10:48] Bekkalizer commented on #91
Hey, if Monjour tests his code and sends a git pull request, we can do a review and merge it into the app!

[2018-06-06 05:20] RahmanMonjur commented on #90
this occurred again today in the field.  Cleared but is an issue with the users...Ingrid, writing on Monjur's account. it is a CHCP user

[2018-06-06 07:02] AkubaD commented on #91
Hi MonjurPlease see Markus' suggestion below to test your solution to this and send a git pull request. Akuba

Sent from Yahoo Mail on Android

  On Tue, Jun 5, 2018 at 12:48 PM, Markus Bekken<notifications@github.com> wrote:   Hey, if Monjour tests his code and sends a git pull request, we can do a review and merge it into the app!

—
You are receiving this because you authored the thread.
Reply

[2018-06-06 07:56] AkubaD commented on #91
@rah

[2018-06-07 07:20] zepto5 commented on #96
This looks like the bug we fixed at friday. Can this be closed?

[2018-06-10 07:10] RahmanMonjur commented on #91
Its working, this issue can be closed.

[2018-06-11 08:37] AkubaD commented on #102
Yes it seems to be. I will reopen if any seemingly related issues come up

[2018-06-11 08:37] #102 closed

[2018-06-15 14:42] iambodo opened #104 "cannot open enrollments outside assigned data capture OU unless: data output OU set to root or superuser"
MAJOR ISSUE

Non-superusers cannot access enrollments created by other users.

Test 1 description
Replicated a model field user.
mFWA_int_csba P eReg!234
mFWA_int1_csba: https://bd-eregistry.dhis2.org/dhis/api/users/WKmpWU0TeMR

Initially changed the data capture org unit to another OU within the same unit (Unit 1/Ka)

With the original user, created a new TEI and client enrollment, "ironman"
http

[2018-06-15 15:18] Bekkalizer commented on #104
*putting on black sabbath*

[2018-06-15 20:05] RahmanMonjur commented on #104
Have you tried with intfac user?

[2018-06-18 19:03] iambodo commented on #104
Thanks  @RahmanMonjur for looking into it, this also worked for me.
seems like the problem is with

**Data output and analytic organisation units**

intfac was set to all of Matlab North, meaning it could access enrollments from the entire uppazilla.

When I uncheck the data output OU, it resets to root. This seems to solve the problem of user access.
![image](https://user-images.githubusercontent

[2018-06-20 11:48] AkubaD commented on #83
Getting a 409 conflict when trying to enroll in second program after System ID has already been generated in first program. Cannot enroll in a second program
Get the same error regardless of which program the TEI is enrolled in first: create TEI and enroll ok, then get the error when trying to enroll in a second program.
Get the same error regardless of user role

![image](https://user-images.gith

[2018-06-20 11:57] AkubaD commented on #83
Our instance version information:
![image](https://user-images.githubusercontent.com/36447512/41656902-caac6858-7491-11e8-9c3f-740e7dc90230.png)

[2018-06-20 12:15] AkubaD commented on #83
Replication steps:
https://bd-eregistry.dhis2.org/dhis/
user           mCHCP_int1
password   eReg!234
Enter at least name, Village, Age to create TEI in Client register program
After enrollment in Client register program, enroll in MCH program by selecting from program list.
Click 'Add new enrollment' on right hand side and scroll to bottom to click 'Enroll'
Error is generated and nothing happens

[2018-06-20 12:28] AkubaD commented on #91
@RahmanMonjur I have not seen the enrolmentDate bug you mentioned so I am closing this issue. thanks for your assistance with it.

[2018-06-20 12:28] #91 closed

[2018-06-25 12:08] Wonfrost commented on #104
@Bekkalizer , I just double checked this problem. It does seem like the data capture org unit for the user is interfering with the search org unit. With search set at the highest level (Bangladesh), they can find the tracked entity, but it doesn't show that it has an enrollment. Then if you try to enroll the TEI, there is an error saying that this TEI already has an enrollment.

[2018-07-09 10:48] AkubaD opened #105 "HOLD: Change name of Enrollment Complete button"
HOLD: Waiting on feedback from Bangladesh to complete request

The Complete button for completing an enrollment (on bottom right of the screen), has same wording as Complete button for completing a stage (bottom left). This is confusing to our health workers - they keep clicking the Enrollment complete button instead of stage Complete button.
Could the name of the enrollment complete button be cha

[2018-07-10 09:03] AkubaD opened #106 "Make UI of Client register program like MCH program"
We would like the layout of the Client register program (UID ZBIqxwVixn8) to be like that of the MCH program (UID WSGAb5XwJ3Y)
MCH desired features for Client register program include
1) Menu layout where available stages are laid out as tiles which you click on to create a stage
2) Complete button for enrollment (on bottom right hand side in Enrollment box) has been removed
Note: in the MCH progr

[2018-07-10 09:05] AkubaD commented on #106
Hi @Bekkalizer and @lukasewvd
How easy would it be to do this?

[2018-07-10 11:02] AkubaD opened #107 "No actions running on attributes in MCH program, but run in Client register program"
We have validation rules for several of our attributes such as phone number, completed years of education, ID numbers, etc.
The same attributes are in the 2 programs, and the rules are clones of each other (of course with different program rule variables).
Putting invalid values in the Client register generates the Show warnings we have put in as actions. But do not for the MCH program.
When I loo

[2018-07-10 11:06] AkubaD commented on #107
Hi @Bekkalizer
It looks like you fixed this same error 2 years ago:
https://lists.launchpad.net/dhis2-devs/msg44463.html

[2018-07-11 07:39] Bekkalizer commented on #106
Ok, the changes has been proposed here:
https://github.com/HRHR-project/e-registry-app/pull/108

@AkubaD @RahmanMonjur Its great if you can build the app based on the above branch, and test if it works like expected in your instance.

[2018-07-11 07:43] AkubaD commented on #105
This will be addressed by #106 - making the UI of Client register like MCH program

[2018-07-11 07:43] #105 closed

[2018-07-11 07:45] Bekkalizer commented on #94
Hey @AkubaD - this seems not to be a simple fix, as we would have to rebuild the framework for how we hardcode and chain the stages togheter. It is currently only possible to hardcode one first stage, and then subsequent stages - the automatic fallback that is invisioned for intervention users based on access level is not possible to model at the moment.

[2018-07-11 11:09] AkubaD commented on #104
Hi @RahmanMonjur
there will need to be a WAR file update to fix this. Could you let us know when it can be done?

[2018-07-11 11:50] RahmanMonjur commented on #104
@AkubaD WAR or app? I'm not seeing any update/change message.

[2018-07-11 12:00] AkubaD commented on #104
@RahmanMonjur
@iambodo had said WAR, but I guess it might be app if you are not seeing change message

[2018-07-12 13:52] Bekkalizer commented on #107
The source of the cloned program rule used to have a problem with its actions. Can you open, and try to recreate, the program rule actions for the non-working rule?

[2018-07-13 08:10] AkubaD commented on #107
Hi @Bekkalizer
It was not only that rule. I gave that rule just as an example. ALL the validation actions for attributes in the MCH program dont run even though they run in the Client register program.

I deleted and recreated the action in the original rule - no change
I created a new rule with the same  rules and actions (UID x5phI0f3gMm), still not working. Note:This was not a clone of the orig

[2018-07-16 11:46] AkubaD commented on #94
Hi @Bekkalizer
could we do this instead: Mask all events created by another user if the user is a control user (detected by either user role or user group) and only for the 2 ANC program stages
We had talked last year about using masking to deal with control and intervention users before we knew about the v29 program stage access by user group.
Can we do masking for just 2 specific program stages?

[2018-07-16 12:20] AkubaD commented on #106
Hi @Bekkalizer
@RahmanMonjur  built the app on the branch and on testing, it works well except for this:
The Complete button for enrollment is still in the bottom right of the page. In the MCH program, it has been removed. We wanted it to be removed like the MCH program because right now the healthworkers get confused because there are 2 complete buttons on the page during data entry and they mist

[2018-07-17 13:24] AkubaD commented on #55
Hi @Bekkalizer
We have made further read only restrictions for some of our stages, so this bug is becoming a real issue for us.
To replicate:
Log in as mCHCP_int1  password eReg!234
Create a user in the Client Register program (you can enter just the required attributes, Name, Age and Village name).
Try to create an instance of the TT History stage - it will allow you to proceed and generate an ev

[2018-07-17 14:36] AkubaD opened #109 "Change pop-up asking why you are accesing a woman's record to only pop-up outside the Union of the enrollment org unit"
The system is currently designed such that if a woman is created in an org unit different from that of the current user, then you get this pop-up message saying that the patient has been found in a different clinic and asking why the user is accessing that record.
In Bangladesh, 3 out of our 4 cadres of healthworkers each act as their own org unit. And a woman will regularly be seen by at least 3

[2018-07-20 12:37] Bekkalizer commented on #109
Lukas - can you have a look at how much work this will be - pointing out that it should not affect the Palestine version

[2018-07-20 12:44] Bekkalizer commented on #104
The limit of what the user can see is now the "Search" org unit:
https://github.com/dhis2/dhis2-core/commit/54ecedea2465a82b956d75ae477f115957888809
@RahmanMonjur
Build and deploy a new WAR file based on the 2.29 palestine branch(above) - this will resolve your issue.

[2018-07-24 10:01] lukasewvd commented on #109
This has now been implemented. Regarding the header text I would suggest to use translation to set the desired text.

Link to commit: https://github.com/HRHR-project/e-registry-app/commit/910a38f02f367b6accd2fb9720f7c0fb9a8a0c74

[2018-07-24 10:01] #109 closed

[2018-07-24 13:02] AkubaD commented on #109
Hi @RahmanMonjur
Could you please use translation as Lukas suggested to change the Heading text of the pop up to say 'Patient found at another union' instead of 'Patient found at another clinic'.

[2018-07-24 13:41] AkubaD commented on #107
Hi @lukasewvd
Could you take a look at this? I had discussed with Markus, but it looks like it slipped off our list as we got into other things.
It looks like he had fixed this same error 2 years ago:
https://lists.launchpad.net/dhis2-devs/msg44463.html

[2018-07-24 16:09] RahmanMonjur commented on #104
@Bekkalizer I'm getting en error while running mvn install command.[
<img width="845" alt="screen shot 2018-07-24 at 22 07 35" src="https://user-images.githubusercontent.com/6468891/43151602-274c0426-8f8e-11e8-9928-9734a784d2ac.png">
](url)

[2018-07-24 16:13] RahmanMonjur commented on #109
@AkubaD where to translate this text? in translation server, or in DB?

[2018-07-27 08:40] lukasewvd commented on #97
The Cache cleaner app is a separate app and I therefore suggest creating a JIRA issue here: https://jira.dhis2.org/secure/Dashboard.jspa.

[2018-07-27 08:40] #97 closed

[2018-07-27 08:44] lukasewvd commented on #87
I this still happening?

[2018-07-27 08:59] lukasewvd commented on #104
Has the been resolved with the update @Bekkalizer provided?

[2018-07-27 09:01] #85 closed

[2018-07-27 12:32] lukasewvd commented on #55
This should now be fixed.

[2018-07-27 12:32] #55 closed

[2018-07-27 13:51] lukasewvd commented on #95
This should now be fixed.

[2018-07-27 13:51] #95 closed

[2018-07-27 14:16] lukasewvd commented on #93
Seems like this has been fixed. If not, tell me and I will reopen the issue.

[2018-07-27 14:16] #93 closed

[2018-07-27 14:20] lukasewvd commented on #89
@AkubaD have you tried @RahmanMonjur's solution?

[2018-07-27 14:40] lukasewvd commented on #92
This is not related to the E-Registry App, please create an issue for the Maintenance here: https://jira.dhis2.org.

[2018-07-27 14:40] #92 closed

[2018-07-27 14:53] lukasewvd commented on #96
Closing this issue, if bug still exists, tell me and i will reopen the issue.

[2018-07-27 14:53] #96 closed

[2018-07-30 09:11] AkubaD commented on #104
Hi @Bekkalizer @lukasewvd
@RahmanMonjur and I tried the new WAR file. It did not solve the issue.
 @iambodo just double checked and apparently the update does not work in Palestine after all: If a user's data output org unit is not set above or (equal to) the org unit of an existing TEI, the user cannot access the TEI's enrollment.
So the fix did not work.
Markus could you take a look?

[2018-07-30 09:18] lukasewvd commented on #104
Hi @AkubaD, did you also assign "search orgunits"?  As @Bekkalizer says in the comment above: _"The limit of what the user can see is now the "Search" org unit"_.

[2018-07-30 09:22] AkubaD commented on #104
Hi @lukasewvd
Yes. Search org units is set to the entire Bangladesh.

[2018-08-01 09:03] AkubaD commented on #107
Working now...

[2018-08-01 09:03] #107 closed

[2018-08-01 09:05] AkubaD commented on #94
Discussed with Markus. Decided would create unpredictable behavior.

[2018-08-01 09:05] #94 closed

[2018-08-01 09:20] AkubaD commented on #109
Hi @lukasewvd
Could you give @RahmanMonjur direction on where to use translation to change the Heading text of the pop up

[2018-08-01 09:26] AkubaD commented on #90
Hi @RahmanMonjur
Have you seen this issue again? Ingrid said she saw it in the field during her last visit for the audit. Did you see it at any point during this training? Could you please ask the facility workers you are training if they have experienced this? We have not seen it on Dev for months now. I would like to confirm if it will be fixed with the Dev updates, or if this is perhaps a netwo

[2018-08-01 09:28] RahmanMonjur commented on #109
@lukasewvd Did I supplied you those translation? Sorry, I can't remember. If you did it via Google translator, it would be terrible translation.

[2018-08-01 09:32] lukasewvd commented on #109
@RahmanMonjur Sorry I was in my own thought. I added it in English. If you want it in Bengali, you can send it to me and I can change it.

[2018-08-01 09:32] AkubaD commented on #109
@RahmanMonjur Please remember that the English text is currently wrong. It should say Union instead of Clinic in 2 places: In the heading and in the first sentence of the explanatory paragraph

[2018-08-01 09:40] RahmanMonjur commented on #90
@AkubaD Yes, we had the problem in the training. one new thing also occurred this time, Org Unit was not pre-filled while registering a client.

[2018-08-01 10:26] AkubaD commented on #109
@lukasewvd Can you change the English text to say Union then?

[2018-08-01 10:30] AkubaD commented on #90
@RahmanMonjur Since you trained on a copy of Dev, then this is still an issue. The problem though is how to replicate it...
Could you give more information on this new issue of org unit not prefilled when registering a client
What user was it

[2018-08-01 11:09] AkubaD commented on #92
@lukasewvd
I tried to replicate this in 2.29 demo (https://play.dhis2.org)
 I created a rule with multiple actions, saved it and added one more action later. The sequence stayed the same - meaning it works ok, unlike in our instance. I rechecked in our instance today, and it is still an issue.
I'm not sure about reporting on Jira an issue that is not replicable for them...
This is the rule that I

[2018-08-01 11:11] lukasewvd commented on #109
@AkubaD Not without affecting the Palestine instance.

[2018-08-01 11:16] lukasewvd commented on #92
Check the play instance again, sequence is not in numerical order.

[2018-08-01 11:51] AkubaD commented on #92
Posted on Jira
https://jira.dhis2.org/browse/DHIS2-4341

[2018-08-02 07:07] RahmanMonjur commented on #109
@AkubaD @lukasewvd  Translations are:
মা তার বসবাসের স্থান পরিবর্তন করেছে | change her place of residence
মা তার পরিবার পরিদর্শন করতে গিয়েছে | visiting her family
জরুরী অবস্থা | urgent case
মা তার সেবা নেওয়ার স্থান পরিবর্তন করতে চান | desire to chage the place of receiving care
অন্যান্য – উল্লেখ করুন | specify others
স্বাস্থ্য সেবাদানকারী অনুপস্থিত | provider absent

[2018-08-02 08:00] AkubaD commented on #109
@RahmanMonjur
You gave 6 options for the drop down, The current list has only 5. As @lukasewvd  was saying, the list cannot be changed without affecting Palestine.
So what I was suggesting was that you pick one of the EXISTING 5 items on the list and translate it as Provider absent. From what Lukas was saying, I dont think you can add another item to the existing list.
You could add to one of the

[2018-08-02 08:18] AkubaD commented on #109
Yes @lukasewvd  we wanted the options translated as well.
But you cant ADD to the list without affecting Palestine, right? Monjur had added one more item to the dropdown in the translations he sent

[2018-08-02 08:26] lukasewvd commented on #109
I have now added the translation for options. As of now, it is not possible to add options. I this is something that is really needed we would have to make a separate implementation. In that case, I would suggest creating a new issue here (GitHub). I will also say, the less we split functionality between the Bangladesh and Palestine the better. The more we split it the more issue prone the system

[2018-08-02 08:30] AkubaD commented on #109
Hi @lukasewvd
@RahmanMonjur will have to resend the translations because they want the 6th option in it somehow. So as I suggested, he will have to translate one of the existing 5 to include the 6th option that they want.

[2018-08-02 08:35] RahmanMonjur commented on #109
@AkubaD In that case, we can treat "others" option as provider absent.

[2018-08-02 08:55] AkubaD commented on #109
@RahmanMonjur  But the Others option generates a text box for you to fill in what the issue is.  See the screenshot below. Does that work or would it be confusing if you only translate it as Provider Absent?

![image](https://user-images.githubusercontent.com/36447512/43573587-5dc94b20-9642-11e8-8a05-a03715f0ed35.png)

[2018-08-02 12:12] lukasewvd commented on #90
I have spent some time trying to reproduce this issue without any success. For next time this happens try to log details about: which orgunit/program, how was the internet connection (slow/fast), what fields where filled in when searching, etc. Basically try to log as much detailed information as possible as this might help us figure out the casue of the bug.

[2018-08-02 12:26] AkubaD commented on #90
Thanks for following up @lukasewvd . I have not been able to replicate it either.
@RahmanMonjur could you please send an update with the info Lukas requested when/if it shows up again?

[2018-08-02 12:38] AkubaD commented on #55
Hi @RahmanMonjur
Has this been deployed yet because I'm still experiencing this issue.

[2018-08-06 08:28] iambodo commented on #104
Hi all, this issue is still showing in both the hrhr and bd dev systems.

Test 1 Palestine
With this user my search org unit is set to Palestine and my data capture and maintenance org units are set to Al Zawida.
https://hrhr.dhis2.org/dhis/dhis-web-maintenance-user/showUpdateUserForm.action?id=1005327

But when I try to open an enrollment that was made outside Al Zawida, I get placeholders for th

[2018-08-16 12:00] AkubaD commented on #55
Hi @lukasewvd
@RahmanMonjur did the deploy for this today.
It does not work at all only in the MCH program - it does not allow creation of ANY program stage in the MCH program, even for *admin* users.
It seems to work okay in the Client register program - it gives the message to the appropriate users who do not have write access to the appropriate stages. There is a display issue for one of the st

[2018-08-20 07:42] lukasewvd commented on #55
I have pushed a possible fix (c659d36a301e8b99b814fe9c7b7b751d500a9fa6) which addresses this issue.

[2018-08-20 09:07] AkubaD commented on #55
Hi @lukasewvd
Is this fix different from what you skyped me about on Friday? Monjur already deployed that and I'm testing it now. Is there an updated fix that you want us to deploy and test?

[2018-08-20 09:48] AkubaD commented on #55
Hi @lukasewvd
This seems to be working - it allows and does not allow creation of events correctly. But we get at least 3 different error messages and we need some consistency. I think the best way to test this is to have the solution to #106 incorporated as well and see the behavior when both programs have the UI of the MCH program. @RahmanMonjur mentioned that it is still in the pull-request box

[2018-08-20 12:03] AkubaD commented on #55
This is a problem: It shows a blank program stage drop down list for a user who only has read access to all the program stages in this program
![image](https://user-images.githubusercontent.com/36447512/44339464-c6551000-a481-11e8-9e37-47bf2a6cbbd9.png)

[2018-08-20 12:11] AkubaD commented on #55
Here are the error messages - not errors in the console, but the pop-up error messages to the user.
This is in the Client register for a user who only has read access to all the program stages in that program. I think we prefer the previous error message saying that you do not have write access to the program stages.
![image](https://user-images.githubusercontent.com/36447512/44339530-fc928f80-a48

[2018-08-22 10:44] AkubaD commented on #55
Hi @lukasewvd
Do you have any update on this and on incorporating Monjur's solution for #106 ?

[2018-08-22 14:34] AkubaD commented on #38
Hi @lukasewvd  and @Bekkalizer
Can this get looked at? We cannot create events for managements through the UI (it does not give you the option of Create event in the drop down of possible actions). And if you use the Excel file to create or modify a rule, any changes to the rule in the UI cannot be saved.

[2018-08-27 11:15] AkubaD opened #110 "System crash during work on analytics"
@iambodo has been experiencing sytem crashing when working on analytics. Brian, please give details. We have to restart the instance whenever this happens.
@Bekkalizer @lukasewvd  System log is attached for the last time this happened

[eRegDevlogAnalyticsCrash23Aug.log](https://github.com/HRHR-project/e-registry-app/files/2317815/eRegDevlogAnalyticsCrash23Aug.log)

[2018-08-27 12:28] AkubaD opened #111 "Internal server error on input of LMP"
Got this error after putting in LMP - this is the first time LMP is entered.
It is not yet clear what effect, if any, that this error is having.

angular.js:9866 PUT https://bd-eregistry.dhis2.org/dhis/api/29/events/jSYdAMRZXlm/wt9xzSr8qwy 500 (Internal Server Error)(anonymous function) @ angular.js:9866n @ angular.js:9667f @ angular.js:9383(anonymous function) @ angular.js:13248$eval @ angular.js

[2018-08-27 13:52] AkubaD commented on #111
Error appears again, two times, when ANC1 visit is created. This stage has data elements that are prefilled with calculated values related to the LMP - Gestational age and EDD. Possible source of the error?

![image](https://user-images.githubusercontent.com/36447512/44663536-2b27e180-aa11-11e8-9f44-99706fa11bc7.png)

[2018-08-27 14:07] AkubaD opened #112 "Translations of program names, data elements and attributes not showing after Palestine code base deploy"
Org units, and drop downs are translated when logged in as a Bengali user (intfac or intfwa. password eReg!234)
But program names, data elements and attributes are not. I checked on our training instance (which has not yet been updated), and they are translated. So it looks like this is due to the Palestine update.

1) Attributes and program names in search page not translated. But Union name list

[2018-08-27 14:16] AkubaD commented on #112
@lukasewvd could you take a look at this?

[2018-08-29 08:28] lukasewvd commented on #112
It is working for me, ensure that both interface and database language is set to Bengali. Also try to do a browser cache clean: https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&hl=en

<img width="708" alt="skjermbilde 2018-08-29 kl 10 26 53" src="https://user-images.githubusercontent.com/6719078/44775601-4bbd7c00-ab76-11e8-9821-22dc87e29df0.png">

[2018-08-29 08:57] #112 closed

[2018-08-30 11:47] iambodo commented on #110
The system is running dashboards or pivot tables with national-level indicators and "countIfCondition" indicators. They take a while to load, and when navigating away from the page before the table loads, it can crash the server,

[2018-08-31 09:11] iambodo opened #113 "Managements show wrong date format"
Managements should be entered into DD-MM-YYYY format. In the same ANC stage, the gestational hypertension management was created as YYYY-MM-DD, while anemia management was created DD-MM-YYYY. Only the anemia management shows in analytics.

Note that the hypertension risk is created through the same rule as hypertensionr isk, and with the correct date format.
https://bd-eregistry.dhis2.org/dhis/dhi

[2018-09-03 09:55] lukasewvd commented on #87
Not able to reproduce, tell me if it still is happening and I will open the issue again.

[2018-09-03 09:55] #87 closed

[2018-09-03 13:00] lukasewvd commented on #113
This should now be fixed with this commit: 4f86008.

[2018-09-03 13:00] #113 closed

[2018-09-06 09:34] #89 closed

[2018-09-13 11:48] AkubaD opened #114 "Question: What would it take to translate Widget text"
We display our previous pregnancy risks by the Action 'Display Text' to the Feedback widget. Eg this rule: https://bd-eregistry.dhis2.org/dhis/dhis-web-maintenance/#/edit/programSection/programRule/IsigKOTXLf3

What would it take to have it show up in Bangla for Bengali users? Is this possible?

[2018-10-05 08:29] iambodo opened #115 "Only superusers can view FWAname TEI attribute (username type)"
On search or registration pages, the link between FWA name and Union name selection does not work unless the user has "superuser" permissions.

Its a special feature to erEgistry app, because the "Union name" box lists only OUs of a certain level (union); selecting that filters the FWA name to only those usernames of type FWA who are assigned under that OU.
![image](https://user-images.githubuserc

[2018-10-05 08:36] iambodo commented on #115
UPDATE: performed Test 7
Added all permissions for the test user's user role, EXCEPT "ALL"
Null result

When Ithen  added the "ALL" user role permission, I could then view the FWA names.

Suggests there is a required user permissions in the eRegistry app which is not reflected in the user role permissions.

Please advise.

[2018-11-12 10:01] iambodo opened #116 "Sequential ID does not reset for each enrolling OU"
Tried enrolling at three different org units. The sequential ID pattern followed one after the other, suggesting that the ID counter is not reset for each org unit separately.

https://www.useloom.com/share/a713fd3a79e5403399cc8769bb08203f

According to Stian,
"this is how it is supposed to work today; When generating ids, we take the non-generated part of the pattern to create a key (Lets use you

[2018-11-18 13:11] iambodo opened #117 "Event reports issue with event formating"
Seems to be a caching issue. I can access the event reports app fine with a fresh cache. But when I open a new window of event reports (incognito mode), I get this message.
![image](https://user-images.githubusercontent.com/36451485/48672823-08eabf00-eb3b-11e8-8861-8738777c2b37.png)

Im not sure if event analytics has a dependency with this fix
https://github.com/HRHR-project/e-registry-app/commit

[2018-12-04 13:12] AkubaD opened #118 "Change hardcoded descriptions for data element groups - with translations"
Hi @lukasewvd
Bangladesh has made a request to change the descriptions and/or translations of the data element groups in the previous pregnancy stage. I think these are somehow hard coded - you have made the changes to those for us previously: Issues #40  and #14
The details are in the attached file.
Please change the English text for the Newborn complications group only. And then put in the Bangl

[2018-12-13 09:23] #118 closed

[2019-03-27 09:11] AkubaD opened #119 "Management save failed error"
We see this error on Bangladesh production but have not yet been able to replicate on dev. The production instance eReg version was updated to match dev, but the error persists.

<img width="1430" alt="Screenshot 2019-03-25 at 09 56 21" src="https://user-images.githubusercontent.com/36447512/55063592-96559700-5078-11e9-895b-8a5a1ff996c2.png">

[2019-03-27 09:25] lukasewvd commented on #119
Hi @AkubaD, are you able to consistently reproduce this issue on dev? If so would it be possible for you to click on of the errors seen in the bottom and copy the data/message in the "response" tab?

[2019-03-27 09:29] AkubaD commented on #119
Hi @lukasewvd . No, as I mentioned above, this has only been seen on production. We have not yet been able to replicate on dev. @RahmanMonjur could you provide the information Lukas is requesting: click on the errors and paste the message here and/send a screenshot? Thanks

[2019-03-27 09:30] lukasewvd commented on #119
Hi @AkubaD. Yes sorry, I meant prod. Are you able to reproduce it there consistently?

[2019-03-27 09:40] AkubaD commented on #119
@RahmanMonjur has been able to see it at least twice - before and after the eReg app update.

[2019-03-27 09:42] lukasewvd commented on #119
@AkubaD okay thanks. It would be great if we could get the message from the "response" tab to get a clue to what is going on ;)

[2019-03-27 09:44] AkubaD commented on #119
Hi @lukasewvd . We are in a meeting wtih BAngladesh right now. I will follow up with @RahmanMonjur about this once we are done at 11:30. Thanks

[2019-03-27 12:01] RahmanMonjur commented on #119
Hi @lukasewvd, its saying "{"httpStatus":"Conflict","httpStatusCode":409,"status":"ERROR","message":"At least one of the following query parameters are required: orgUnit, program, trackedEntityInstance or event."}"

[2019-03-27 12:06] AkubaD commented on #119
thanks @RahmanMonjur . It looks like the managements save for some management conditions - in the screenshot there is a saved management for Low weight. Is that the case? That it is not all managements that are not saving? In that case, @lukasewvd, do you think it could be related to program rules?

[2019-03-27 12:25] lukasewvd commented on #119
I am not sure about the root cause yet. The server is complaining about a missing parameter. @RahmanMonjur could you on a failing request (like the one you checked the "response" tab for) go to "Headers" tab and scroll all the way to the bottom to the "Request payload" section, click "view source" and copy the data. This might give us an indication of what parameters might be missing.

[2019-03-27 13:19] RahmanMonjur commented on #119
<img width="900" alt="Screenshot 2019-03-27 at 19 18 33" src="https://user-images.githubusercontent.com/6468891/55078823-2b7e7d00-50c5-11e9-8539-6c9a7fac37b5.png">
<img width="901" alt="Screenshot 2019-03-27 at 19 18 19" src="https://user-images.githubusercontent.com/6468891/55078824-2c171380-50c5-11e9-9926-adf5c228287e.png">

[2019-04-03 09:10] AkubaD commented on #119
Hi @lukasewvd and @RahmanMonjur
Do you have an update on this?

[2019-04-11 12:41] AkubaD opened #120 "Metadata dependency import stuck on importing program stages"
In doing an update of changes to program rules, program stages, etc, we have been trying to do an import of a metadata dependency export of both our Client register and MCH programs on a staging instance before moving to production. The Client register import worked ok. But the MCH program import gets stuck when it gets to importing program stages for at least 12 hours. Trial run did not reveal an

[2019-04-12 09:05] RahmanMonjur commented on #120
It may help you
<img width="567" alt="Screenshot 2019-04-12 at 15 03 35" src="https://user-images.githubusercontent.com/6468891/56025669-64108e80-5d34-11e9-8965-536377aa489d.png">
<img width="1141" alt="Screenshot 2019-04-12 at 15 03 27" src="https://user-images.githubusercontent.com/6468891/56025672-6672e880-5d34-11e9-91dc-e37470c82389.png">

[2019-04-30 07:55] AkubaD commented on #120
@Bekkalizer @lukasewvd  could you please look into this? We haven't been able to update trial-related changes to our programs because of this

[2019-05-20 09:58] AkubaD opened #121 "Unable to enroll or create program stages - may be related to attribute generated ID"
@Bekkalizer @lukasewvd some users,
According to @RahmanMonjur no users are able to create any MCH program stages because of error saying "could not initialize proxy - no sessions"

There is second error: "Unable to reserve id. This may indicate that there are too few available ids left."
This error is being experienced by Control users and users with org unit whose code is long (8 characters inste

[2019-05-20 10:08] AkubaD commented on #121
We have been having an issue with this DHIS2 generated ID attribute - it sometimes says it has ran out of IDs and we have had to increase the number of digits of the sequential number generated.
It is possible we are getting the error for the org units that have 8 character org unit code,  because we may have hit a maximum number of characters that the attribute data type can handle with the incre

[2019-06-04 13:19] #121 closed

[2019-06-04 13:21] AkubaD commented on #120
Was a user sharing issue - individual users assigned sharing properties but were not in the instance where metadata was being imported. Removed all individual user sharing. Solved the issue

[2019-06-04 13:21] #120 closed